[2016-06-03 15:20] wavded opened #2 "Thanks for maintaining. First release?"
Just curious how you are planning to do releases.  Are you going to pick up a new package name, take over the existing?  And when do you anticipate a first release to be ready?  Thanks much!

[2016-06-03 16:51] KamranAsif commented on #2
We will rename it to fixed-data-table-2 for now. I've pushed a release for v0.6.1 on npm as well.

We will be publishing minor versions every few months, and major versions once or twice a year.

We want to take over the existing one, but there is no time table yet.

[2016-06-03 18:23] flipperkid commented on #2
We also plan to actively merge in pull requests and release patch versions with those changes.
Also if anyone has suggestions for a better name than fixed-data-table-2, we're open to them.

We're currently QA'ing a new release of our product having migrated it to FDT and will continue to get testing support there for IE11, Chrome, and Firefox.  It would be useful to get an idea of how we can fill

[2016-06-04 15:35] gemedet opened #5 "Touch scrolling"
Thanks for starting this repo! Any plans to support touch scrolling natively? This was a common question in the original issue tracker.

For reference:
facebook/fixed-data-table#403
facebook/fixed-data-table#365
facebook/fixed-data-table#26

[2016-06-04 21:17] wcjordan commented on #5
Kam and I are looking at adapting the code [here](https://github.com/facebook/fixed-data-table/issues/365) and [here](https://github.com/facebook/fixed-data-table/blob/master/site/examples/TouchableArea.js) to provide another scrolling handler similar to ReactWheelHandler.

The major challenge for us will be validating that the solution works on different devices and setups.  Particularly the case

[2016-06-04 23:43] KamranAsif commented on #5
Have some basic functionality up behind a flag, as well as an example.
Would appreciate it if you could checkout the PR and test it for your use case :)

[2016-06-04 23:49] KamranAsif opened #8 "Browser support information"
Original issue here: https://github.com/facebook/fixed-data-table/issues/56

Do we plan on only supporting IE11 going forward? I think its important to hear what the community has to say about this

[2016-06-05 04:03] gemedet commented on #5
Awesome, that was fast!

It seems to work when I start dragging, but if I move my finger to the side it'll stop scrolling vertically. I have the table width fit inside the window, so `handleScrollX` always comes back false.

[2016-06-05 13:24] 3cooper opened #9 "Row heights are not evaluated when table is re-rendered - scrollbar is missing"
My table has dynamic row heights.  When I change the height of a cell and re-render the table, the scrolling on the table is broken.  If I expand the same row again, scrolling is restored.
## Expected Behavior

I would expect that after re-rendering the table that the scrolling would work.
## Current Behavior

The row expands but the scrollbar is removed which prevents scrolling.
## Possible Solut

[2016-06-06 15:26] jsCTim opened #10 "FixedDataTableColumnReorderHandle.react"
After running:
`npm install fixed-data-table-2 --save`

When I run I get the following error:
[code]

I do not see the FixedDataTableColumnReorderHandle.react.js anywhere.

[2016-06-06 18:12] KamranAsif commented on #10
This was fixed in https://github.com/schrodinger/fixed-data-table-2/pull/6
Just pushed a new release, 0.6.3 which should fix this.

[2016-06-06 18:12] #10 closed

[2016-06-06 18:14] KamranAsif commented on #9
The scoller is getting rendered before the rows are.
The app then updates its content height after render, but doesn't trigger and update on itself.

Might want to take this opportunity to correct data flow from scroll helper..

[2016-06-08 04:19] switz opened #11 "Render consistently on the server and client"
The fixed-data-table does not render with matching markup on the server and client.

## Console output
[code]

## Possible Solution

https://github.com/facebook/fixed-data-table/issues/44

I may send a pull request if I get a chance to fix it myself, but I figured I'd report it nonetheless.

Edit: this PR seems to be a reasonable solution https://github.com/facebook/fixed-data-table/pull/308

[2016-06-08 05:09] wcjordan commented on #11
Thanks for filing.  I've created a pull request with the PR you pointed out from fixed-data-table.
Any chance you have sample code for reproducing the issue to help us verify it's fixed?

[2016-06-08 05:26] switz commented on #11
Sure, I threw together an example based on https://github.com/erikras/react-redux-universal-hot-example (which admittedly is massive overkill, but it displays the problem) in a few minutes: https://github.com/switz/fixed-data-table-2-server-rendering-example

Just clone, `npm i`, `npm run dev`, and hit http://localhost:3000 in the browser.

[2016-06-08 18:59] wcjordan commented on #11
Awesome, thanks!  I'm able to reproduce the error in the example on master and it appears fixed with the new PR.

[2016-06-08 19:33] wcjordan commented on #11
Merged in, we'll push to npm with 0.6.4 on Monday.

[2016-06-08 19:33] #11 closed

[2016-06-11 15:41] burakcan commented on #2
@wcjordan Hello, thank you for forking. We're also using fixed-data-table extensively at Adphorus and i was planning to start a fork, then saw your repo :)
It would be nice to see what changed across releases to not to break stuff in our apps. Do you plan to publish changelogs with releases?
Also; i would be happy to help  you with this. I think we can add some bugfix tasks to our company's sprint

[2016-06-11 16:50] KamranAsif commented on #2
Hey,

I updated our release logs. They are auto generated so we need to manually go and edit them.
As for helping out with tasks, that would be greatly appreciated!

[2016-06-12 10:54] burakcan commented on #2
Great! Thank you 💯
I'll be watching for the issues then

[2016-06-13 16:18] hsin421 opened #13 "scroll-on-drag while re-ordering columns"
Thanks for sharing your folk.

We're also building the re-ordering of columns then we saw yours.

Just curious, have you implemented the "scroll-on-drag" when you are re-ordering more columns that will fit the current page? We having issues on how to simulate horizontal scroll externally. If you have any ideas, please do share!

Thanks again

[2016-06-13 16:34] KamranAsif commented on #13
Hmm this seems like a problem we will run into @wcjordan

We know the scrollLeft value for the grid, and we know the left offset + width of the column drag. We can detect if we hit the left or right edge and change the scrollLeft value appropriately.

[2016-06-13 17:34] hsin421 commented on #13
Thanks for your fast reply!

We found that it's hard to control scrolling with `scrollLeft` or `scrollToColumn`

let's compare notes once we have clearer handle on this

[2016-06-14 00:59] wcjordan commented on #2
@burakcan thanks for the support, we're very happy to have any help you can give us!

With regards to releases, our current plan is to try and release minor fixes with a patch version bump every week or so while we're bringing in pull requests from the Facebook repo.  We also have plans to add tests to the repo over the next couple months so we can prevent regressions.

Where possible, we'll try t

[2016-06-14 17:11] vinnyoodles opened #14 "pagination documentation"
I was confused on the pagination example because there were a lack of links for pagination (ex. first, last, next, previous, page #). Could you add some documentation for adding pagination to a table?

[2016-06-15 12:53] 3cooper commented on #8
For us, IE 11 support would be important.  Our customers aren't there yet, but they will be soon.  Do you know of any current issues with IE 11?

[2016-06-15 17:03] KamranAsif commented on #14
Hmm I think you are referring to paged data. The [example](http://schrodinger.github.io/fixed-data-table-2/example-pagination.html) Refers to an infintite scrolled table that has data paged in

I guess we should make a separate example that swaps out the data when user goes to a different 'page'.

Lets do an example like this: http://dev.sencha.com/deploy/ext-4.0.0/examples/grid/paging.html

[2016-06-16 06:28] pszalanski opened #16 "Add events onMouseEnter/Leave for Cells"
It would be a really convenient feature if I could have onMouse* Events for cells. Say, I want to display an icon as soon as the user hovers over a specific cell, to give a hint, that an action can be performed on the cell.

Right now, I can get these events only for the complete row. The cell or column the user hovers over at that time cannot be reconstructed, as far as I can tell.

[2016-06-16 13:38] KamranAsif commented on #16
You can easily do this yourself by adding event handlers to individual cells.
Example: https://jsfiddle.net/pvt3dc1r/

The only downside is that adds 2 listeners per cell which can hurt performance depending on how many you have on screen.

[2016-06-16 13:38] #16 closed

[2016-06-20 06:52] mahmoudfelfel commented on #5
Thanks for working on this,
I have a similar issue, can't scroll on mobile devices, is there any updates ?

[2016-06-20 22:03] wcjordan commented on #5
Hey @mahmoudfelfel, we have a PR up [here](https://github.com/schrodinger/fixed-data-table-2/pull/7) which enables touch scrolling when a touchScrollEnabled={true} prop is passed into the table.  Feel free to check it out and let us know if you find any issues with it.

Right now we're trying to resolve issues related to scroll stopping when your finger leaves the table and adding scroll decelerat

[2016-06-21 09:42] msojka opened #18 "Inputs inside cells are focused unintentionally"
Same as #398

I'd like to make an editable spreadsheet with the input in each cell. Everything works fine and fast the only issue is that when I focus any input every other n-th row input is focused as well (n depends on the height of the table).

Clicked:
![screen shot 2016-06-10 at 17 27 54](https://cloud.githubusercontent.com/assets/3511429/15970041/ed6206c4-2f32-11e6-972d-386ff6329478.png)

Sc

[2016-06-21 13:18] KamranAsif commented on #18
Can you please create a jsfiddle for this? You can fork off  https://jsfiddle.net/uq8osbp1/

[2016-06-21 13:19] KamranAsif commented on #8
Even though we've been testing this pretty aggressively, we haven't currently seen any major issues with it. There are reports of touch scrolling break on windows machines though.

[2016-06-21 15:21] wcjordan commented on #18
@msojka I've seen a similar issue with images which happened because the table recycles rows and updates the props on them for performance.  With images updating of the props would keep the old image and just update the src attribute on it, leading to the wrong images appearing until you stopped scrolling.

I was able to work around the issue by setting a key prop on the image element (at the cost

[2016-06-21 18:02] mahmoudfelfel commented on #5
@wcjordan thanks for your reply, and certainly will check the PR, test it, and give my feedback and will add comments on the PR for any issues i find.

[2016-06-22 09:09] msojka commented on #18
@KamranAsif here is minimum jsfiddle to replicate the issue: https://jsfiddle.net/msojka/f6aqLe0y/1/

Click to focus a1 input and scroll down to see multiple inputs created and focused as well (where exactly depends on height).

[2016-06-22 13:32] KamranAsif commented on #18
@msojka As @wcjordan mentioned, you can use the key property to fix this:
[code]

https://jsfiddle.net/9jzy061k/3/

[2016-06-23 05:25] wcjordan commented on #5
I've added some momentum scrolling when drag is released and some tuning to make scroll smooth here: https://github.com/wcjordan/fixed-data-table-2/commit/bffbf895157f425632d797fac809465a981cc815

I'll integrate it with Kam's open PR when I have a chance to sync with him.

[2016-06-23 22:56] wcjordan commented on #5
We've merged this issue in and will release behind a flag as part of 0.6.6 shortly.  I'll close for now, but please try it out and open new issues for any instability or lack of smoothness you find.

[2016-06-23 22:56] #5 closed

[2016-06-27 10:30] msojka commented on #18
@KamranAsif ok that helped. Also note that I found it's important to add key to MyCell as well to ensure proper passing of props to the cells and children.

Anyways with this sorted out everything works great with one caveat. Scrolling (just scrolling) is terribly slow in IE 11. Even when stripped down to just a few data and simple cell content (divs instead of inputs).Chrome and FF are smooooth.

[2016-06-27 13:18] KamranAsif commented on #18
@msojka Hmm we haven't run into any issues like that yet. Does scrolling on this webpage also appear slow to you? http://schrodinger.github.io/fixed-data-table-2/example-reorder.html

[2016-06-27 19:53] CodeStrumpet opened #20 "onClick handler in custom cell isn't getting called on mobile devices with touchScrollEnabled"
I migrated our fixed-data-table project over to use the fixed-data-table-2 with the new touchScrollEnabled feature and the scrolling with momentum on mobile devices is awesome. However I was experiencing an issue where the `onClick` handler on my cell component wasn't getting called.

I ended up commenting out the `event.preventDefault()` lines in the onTouchStart and onTouchEnd functions in React

[2016-06-27 20:46] gschwa opened #21 "Calculating dynamic row heights"
What is the most efficient way to calculate dynamic row heights based on cell contents?

[2016-06-28 02:27] wcjordan commented on #20
Thanks for creating the issue!  I think this is just a case of overzealous calls to preventDefault.
I've updated [PR 19](https://github.com/schrodinger/fixed-data-table-2/pull/19/files) to include the fix you've suggested.

One thing I noticed while playing with this is previously tapping a row on my android would not select text in that row, while now without the prevent defaults, it will select

[2016-06-28 13:17] KamranAsif commented on #21
The most efficient way is to use some heuristic to estimate your given height. In practice, this is hard to nail down. In our application, we ended up allowing users to resize rows and added some overlay on a text indicating that there was content that was hidden.

You _could_ use some magic in componentDidMount to calculate desired row height and use that. Heres a quick example where rowHeight ar

[2016-06-28 14:57] #20 closed

[2016-06-29 13:46] FredericHeem opened #22 "scroll on IE11"
The new 0.6.6 versions solves the issue of resizing columns on IE11, however, there is still an old bug regarding srcolling in IE11: https://github.com/facebook/fixed-data-table/issues/15
Thanks a lot for maintaining this project.

[2016-06-29 13:58] KamranAsif commented on #22
@FredericHeem Can you please elaborate on the exact repo steps? We have been using IE11 for a while and haven't run into any problems so far.

[2016-06-29 14:09] dcoales opened #23 "minWidth ignored on flex columns"
Hi,

I've tried using the original table and found that flex columns can shrink to nothing and seem to ignore the minWidth setting.  Is this also true in your version (or am I just doing something wrong).

Thanks,
David

[2016-06-29 14:19] FredericHeem commented on #22
Please have a look at the example: http://schrodinger.github.io/fixed-data-table-2/example-resize.html
It's not scrollable on IE but works fine on Chrome.

[2016-06-29 14:41] KamranAsif commented on #22
Scroll should be working fine. I think the site doesn't work because of TouchExampleWrapper
Try out this: https://jsfiddle.net/gww7j03L/

@wcjordan We should remove the TouchWrapper since we now support native touch. Any objections?

[2016-06-29 14:48] wcjordan commented on #22
Ah that's really misleading, that the examples all include TouchExampleWrapper and it doesn't work with IE11.  Let's definitely delete TouchExampleWrapper.

@FredericHeem thanks for pointing that out.  We'll update the examples to be correct.

[2016-06-29 15:03] FredericHeem commented on #22
I can confirm that the jsfiddle works fine on IE, however, I still have to find out why it doesn't scroll in my case, which doesn't use TouchWrapper at all.

[2016-06-29 15:05] KamranAsif commented on #22
@FredericHeem You can fork my jsfiddle and try replicate it on there. If you can do that, feel free to file a new issue and we can address it.

[2016-06-29 15:05] #22 closed

[2016-06-29 15:11] FredericHeem commented on #22
I'm using `Dimensions` from `react-dimensions`, is there an easy to add this dependency to jsfiddle ?

[2016-06-30 01:39] wcjordan commented on #23
Hey @dcoales can you try switching minWidth to width and see if that fixes things.
This [example](http://schrodinger.github.io/fixed-data-table-2/example-flexgrow.html) seems to do things that way.  Definitely not intuitive that it works that way...

[2016-06-30 09:31] FredericHeem commented on #22
The issue is related to webpack, as a workaround, changing the `devtool` option from `eval` to `source-map` makes the scrolling work on IE.

[2016-06-30 12:15] wcjordan commented on #22
Ah it's good you have a workaround.  That will kill your webpack performance though, right?
I'll take a look sometime today or tomorrow and see if I can reproduce and identify the underlying cause.

[2016-06-30 16:50] stulees opened #25 "onContentHeightChange is not getting called after rowHeightGetter returns new value"
Experiencing this exact issue https://github.com/facebook/fixed-data-table/issues/292 in this repo also.
## Expected Behavior

`onContentHeightChange` should always get called if any of the rows grew in height
## Current Behavior

The first time `rowHeightGetter` is called it always returns the `rowHeight` value because the rows haven't been rendered yet. Once the rows have been rendered it gets c

[2016-06-30 19:18] wcjordan commented on #22
Hmm scroll works for me in IE11 in our application when running webpack dev server with devtool eval.
I'll try things out in one of my side projects when I get a chance, but may need an example for reproduction to make any more progress.

[2016-07-06 19:08] dcoales commented on #23
This was the answer. Many thanks.

Cheers
David

On Thu, 30 Jun 2016, 02:39 Chris Jordan, <notifications@github.com> wrote:

[2016-07-06 19:10] wcjordan commented on #23
Glad to hear!  I'll update the documentation to make the differences / usage of minWidth and width more clear.

[2016-07-07 14:23] KamranAsif commented on #25
Theres definitely a bug with the ```onContentHeightChange``` callback, but it seems to fire half the time.

I'm able to repo it with this fiddle: https://jsfiddle.net/9g7nn77f/
It looks like _reportContentHeight is using stale state data. After the rows are rendered, the scrollHelper values are change but its not reflected in the state yet.

We may need to add a callback to scrollHelper to force a

[2016-07-07 16:08] stulees commented on #25
@KamranAsif Thanks for investigating and confirming the issue. Will you be self assigning this bug?  If so, do you have an idea of when a PR for the fix will be ready?

[2016-07-07 16:16] KamranAsif commented on #25
Hey,

I usually work on these issues if
1. My company sees value in fixing them (for our own application) and assigns them in sprint
2. The fix is easy/interesting/fun and I'll work on it in my free time.

We currently don't use ```onContentHeightChange```, but we have a plan to use dynamic row heights. I believe this bug is the same as https://github.com/schrodinger/fixed-data-table-2/issues/9 so

[2016-07-07 19:33] wcjordan commented on #25
I discussed this some with Kam.  Our main reason for holding out on this is we plan to fix it with a bigger / more aggressive set of changes to the row height system.  As such we're starting a discussion for how the row height system should be rewritten and will target the change for a minor release bump (0.7.0).  We're sorry for the delays, but we hope to address the issue sometime in the next fe

[2016-07-08 13:05] KamranAsif commented on #13
Hey,

I've merged this in but we have a couple more tasks until we release 0.6.7
Feel free to check it out

[2016-07-08 13:05] #13 closed

[2016-07-11 09:42] seb0zz opened #27 "Use grouped and ungrouped columns at the same time"
Just reported an issue on the "original" repo before I saw that this fork might be the one to work with.
This is the existing issue [419](https://github.com/facebook/fixed-data-table/issues/419)

Is there any way to achieve a layout like a this?

[code]

I don't want it to look like this:

[code]

[2016-07-11 17:02] wcjordan commented on #27
Thanks for the issue request!  Unfortunately there's no way to achieve this layout out of the box right now.  The header is currently implemented as 2 independent rows (see the [render method here](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.react.js#L458)).
This is on our company roadmap though, and we'll likely work on it towards the end of August.

What are

[2016-07-13 15:45] stulees commented on #25
Thanks for the info. We'll await the 0.7 release for the fix then, appreciate your efforts!

[2016-07-13 18:44] burakcan commented on #18
The whole point of the fixed-data-table is to work with "fixed data". It's optimisations comes from windowing and recycling. In the case of inputs, recycling is not possible and it will cause lots of performance loss. I think there's nothing to do here other than using keys and disabling recycling for that elements.

[2016-07-14 13:46] KamranAsif commented on #25
@stulees FYI, we switched 0.7 release to be with the new babel compiler. This change will be part of 0.8 now

[2016-07-14 13:47] #18 closed

[2016-07-14 13:47] #8 closed

[2016-07-14 13:47] #2 closed

[2016-07-14 14:24] stulees commented on #25
@KamranAsif Okay thanks

[2016-07-20 06:55] ervoiox opened #33 "Row context menu support"
Does this have support for row level context menus?

I see there's a outstanding PR on Facebook's fixed-data-table which was never merged in: https://github.com/facebook/fixed-data-table/pull/321

[2016-07-20 13:10] KamranAsif commented on #33
We currently don't, but if you apply that same PR on our fork we would love to merge it in

[2016-07-25 13:30] #21 closed

[2016-07-25 14:18] gschwa commented on #21
For anyone who runs into this same issue, I was able to wrap the table in a CellMeasurer from react-virtualized which made this seamless.

[2016-07-26 23:08] albertolacework opened #36 "Scrolling left in a table is broken in any example on Chrome v 51"
## Expected Behavior
If you scroll right on the table you should be able to scroll left after any other action.

## Current Behavior
It varies but usually it doesn't work. I can consistently get it to scroll if I scroll up or down first and then try left.

## Possible Solution
Update to Chrome v52.

## Steps to Reproduce (for bugs)
Open Any Example.
Reduce window size or increase some column width

[2016-07-27 00:27] wcjordan commented on #36
I'm having some trouble reproducing this.  I'm using Chrome v51 and Mac OS X Yosemite.
I've included a screenshare of scroll left working on [youtube here](https://youtu.be/ryeBW0YZNzU)

Do you have any console errors which indicate an issue?  Do you get the impression that the issue is related to a JS exception or performance issue?  Also could you try disabling any chrome plugins and see if this

[2016-07-27 12:10] KamranAsif commented on #36
I can't repo this either. @albertolacework can you record a screencast of this bug?

[2016-07-28 16:15] KamranAsif opened #37 "Fixing for RowHeight Calculation"
## Goals

Change the way fixed data table handles its internal state to allow correct dynamic row height calculation## Current Behavior
## Current State
- State is stored as part of the top level react component, as well as in some children component
- Changing any portion of state re-runs _calculateState, which update scrollContentHeight from scrollHelper
- Child components, namely BufferedRows,

[2016-07-31 23:05] ryanhca commented on #8
What's the deal with not testing/supporting Safari? I have seen a UI issue here and there and have no real way to iron out the bugs I'm seeing.

[2016-07-31 23:08] wcjordan commented on #8
We currently don't have the resources or test infrastructure to support browsers outside of our common usage.  We're happy to accept PRs for fixes though or add support if new maintainers join the project who want to take on that responsibility.

[2016-08-01 02:46] JMacLulich commented on #37
If this is still a pending issue in a few weeks I'll have a bit of time to see if I can help you on this

I've got a deadline however using this component due in 2 weeks, so I'll understand a lot more about using it after then.

[2016-08-01 13:06] KamranAsif commented on #8
@ryanhca If you see safari issues, please still file issues so others can try and tackle it.

[2016-08-01 13:06] KamranAsif commented on #37
I'm not sure what our timeline is but feel free to give it a crack. It should be broken up enough that we can work on it piecemeal

[2016-08-01 20:37] albertolacework commented on #36
Update: I upgraded to Chrome v52 and can no long reproduce this issue. I supposed I'll close it then.

[2016-08-01 20:37] #36 closed

[2016-08-03 08:12] amit1911 opened #38 "Scroll to row"
I want to make my table scroll to top when some event happens. For example when user sorts the table data, i want the user to be moved to the top of the table. For this I am using the `scrollToRow` property. So I have a `scrollToRow`  property in my state that I set to `0` when the user sorts the data and then the cursor moves to the top of the table.

**Problem**
Now when I scroll inside my table

[2016-08-03 13:17] KamranAsif commented on #38
Best way to do this is to inform your application in componentDidUpdate that it has finished scrolling to the top, so the subsequent render doesn't set scrollToRow to zero.

Here is a very simple example: https://jsfiddle.net/z2yhpwLh/
Feel free to create your own jsfiddle and we can help you debug it.

[2016-08-03 16:06] CosminIonascu opened #39 "Reorderable columns bug"
## Expected Behavior
When I drag a column to the left,the column should move  and when I arrived to the table end the scroll should move until the end of the columns

## Current Behavior
The scroll bar move but after 5-6 seconds the column that i was dragging disappear and the scroll bar moves on its own.

## Steps to Reproduce (for bugs)
1.Create a table with 20 + columns
2.Try to drag the first

[2016-08-03 19:07] KamranAsif commented on #39
@CosminIonascu do you have allowCellsRecycling enabled in your application?

I'm able to see this bug when thats set to true, but not when its false. Want to make sure this is the actual problem and not a red herring

[2016-08-03 20:56] KamranAsif commented on #39
Resolved as part of https://github.com/schrodinger/fixed-data-table-2/pull/40
Try v0.7.2

[2016-08-03 20:56] #39 closed

[2016-08-04 05:37] amit1911 commented on #38
hey thanks for the prompt response.
I am using React with Redux so i wanted to somehow keep the `scrollToTop` in the state and wanted to have a smooth redux flow. `componentDidUpdate` is what I was looking for. Here is how i did it
[code]
I have removed all the extra data from the above code so that it's easy to understand.

So basically the main logic is that I will only scroll the table to top w

[2016-08-04 09:52] CosminIonascu commented on #39
@KamranAsif yes  I have allowCellsRecycling enabled.
Thank you for the fix.

[2016-08-04 12:14] CosminIonascu opened #41 "Scroll bar speed for reorderable columns"
## Current Behavior
When I tray to reorder my column the speed of the scrolling bar is very slow,.

## Possible Solution
It think  will be better if the speed value of the scrolling bar is passed by props.

[2016-08-04 13:03] KamranAsif commented on #41
The slowdown is probably due to your grid performance more than anything else.
Do you have shouldComponentUpdate speedup enabled in your cells?

Here is a good readup: http://benchling.engineering/performance-engineering-with-react/

[2016-08-04 13:03] KamranAsif commented on #38
Looks great! Let me know if you see any bugs with that in the future.

[2016-08-04 13:03] #38 closed

[2016-08-04 16:58] gcazaciuc commented on #41
same issue here with text only columns. the scroll works super fast but the problem is that if you have many columns, when you drag one of them to the edges ofthe table the scroll moves incredibly slow. it's not really a perf issue but the fact that scroll speed seemsto be hardcoded to 15 px within the table. i believethe scroll velocity should take into account the number of columns and/or be abl

[2016-08-04 17:30] KamranAsif commented on #41
@gcazaciuc Here is a screencast of our grid using this feature: https://streamable.com/b9bf
I honestly thought it was too fast.

Feel free to put up a PR to pass the speed via props. We won't be filing this as a bug though.

[2016-08-08 20:17] ryanhca commented on #23
I haven't been able to get the "FlexGrow" property to work. I have literally copied and pasted the code from the example and am using my own data to populate the table, but my table doesn't resize at all. Has anyone else had a tough time with this?

[2016-08-08 22:15] wcjordan commented on #23
I haven't heard of anything, but can look if you can put up a jsfiddle that repros the issue.

One common point of confusion is expecting the grid to grow to fill it's container which is not supported.  That can be added with an HOC like react-dimensions though.  Some discussion is here: https://github.com/facebook/fixed-data-table/issues/62#issuecomment-238151809

[2016-08-09 19:13] ryanhca commented on #23
I found a good work around for this problem! Well.. good is subjective.

But it is something like this... take it or leave it.

`componentWillMount() {
        this._updateDimensions();
    }
    componentDidMount() {
        window.addEventListener("resize", this._updateDimensions);
    }
    componentWillUnmount() {
        window.removeEventListener("resize", this._updateDimensions);
    }

[2016-08-14 08:40] dspoonia7 opened #43 "Filtering and Column sorting in not working"
Initially Table is rendering successfully and scrolling works fine. But on filtering or column sorting, I am getting this error

After getting this error, Scrolling also stops working and throws the same error.

I am on the latest version of react and fixed-data-table and using es6 classes.

``
    "fixed-data-table-2": "^0.7.2",
    "react": "^15.3.0",
    "react-dom": "^15.3.0"
``

[2016-08-14 14:02] KamranAsif commented on #43
We don't support native filtering or sorting. Where are you seeing this error?
Please provide a jsfiddle to reproduce this issue. You can fork: https://jsfiddle.net/uq8osbp1/

[2016-08-14 14:08] dspoonia7 commented on #43
I had tried [Filtering](http://schrodinger.github.io/fixed-data-table-2/example-sort.html) and [Sorting](https://github.com/schrodinger/fixed-data-table-2/blob/master/examples/SortExample.js) these examples only.

[2016-08-14 15:52] wcjordan commented on #43
Are you able to see the errors [here](http://schrodinger.github.io/fixed-data-table-2/example-sort.html)?  If not then the issue may be something related to React 15.3.0.  Could you try 15.1.0 and see if it works around the issue temporarily?

[2016-08-14 18:35] dspoonia7 commented on #43
@wcjordan That doesn't help. On filter search, I am still getting

But on sorting it started throwing

Here is my [code](https://gist.github.com/dspoonia7/b157c5dc7b4464b743333b31af3e4c55)

package.json

[code]

[2016-08-14 18:38] wcjordan commented on #43
Interesting, were you able to see the same issue on the hosted demos I linked?

[2016-08-14 19:05] dspoonia7 commented on #43
No that is working fine.

[2016-08-14 19:23] wcjordan commented on #43
Would it be possible to create a github repo which reproduces your issue?  That will make it easier to investigate and debug.

[2016-08-14 20:24] dspoonia7 commented on #43
@KamranAsif @wcjordan Here is the [fiddle](https://jsfiddle.net/dspoonia7/uq8osbp1/2/)
Fix column is also not working.

[2016-08-15 04:52] wcjordan commented on #43
It seems your fiddle has a few issues.  this._dataList and this._defaultSortIndexes become out of date in DataTable since they are not updated in componentWillReceiveProps.  I was able to fix that, but then started seeing undefineds in DateCell.  Could you investigate and let us know when the bugs are worked out?

[2016-08-15 13:48] dspoonia7 commented on #43
Thanks guys,  I fixed all the issues in the fiddle at least. updated [fiddle](https://jsfiddle.net/dspoonia7/uq8osbp1/5/).

But in my local i am still getting this error sometimes

[2016-08-15 13:53] KamranAsif commented on #43
How are you reproducing that releaseMouseMoves? I tried playing around with it but I'm not seeing any error.

What browser are you using?

[2016-08-15 14:03] dspoonia7 commented on #43
Yes there is no issue in fiddle, it is working alright.

I am getting that error in my local system . I am using Chrome and I have setup rails-react-browserify.

One more issue, I have added [React Developer Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) extension in my browser. With this extension everything is working fine but on re

[2016-08-15 14:09] KamranAsif commented on #43
Don't think we can help you there since its not related to FDT.
I'm going to close this issue, but if you can get it reproducible on a fiddle, feel free to re-open it.

[2016-08-15 14:09] #43 closed

[2016-09-02 06:17] HongJheLi opened #44 "Update peerDependencies to support V15?"
Can you update react version like below?

[code]

BTW, I just fork this, and try to install from my repository.
And there is an error in my browser.

[code]
I know the file is generated from ```npm run build-npm```, but how can I do after npm install?

[2016-09-02 13:11] KamranAsif commented on #44
Can you put up a PR with the proposed changes?
I think we would still need to add >=0.13.0 and >=0.14.0 for react and reactdom respectively

You shouldn't need to run anything if you are installing it as a dependency.
If you are modifying the library, you need to run `npm run build-dist`

[2016-09-02 13:58] FredericHeem opened #45 "Warning: Unknown prop `columnKey` on <div> tag."
The columnKey prop is passed to the underlying children and react now moans about it.

[code]

## Expected Behavior
no warning
## Current Behavior
warning

## Your Environment
React 15.3.1

[2016-09-02 14:02] HongJheLi commented on #44
1. Because I use react@^15.3.1 in my project, and I see error below.

    That why I try to upgrade peerDependencies. But I can not run the example since that.
    Dose this project only support >= 0.13 or  >= 0.14?

    Or can you teach me how to solve it. Many thanks

2. I install it from github. That's properly why I miss those files.

[2016-09-07 14:24] KamranAsif commented on #44
I don't see that error here: https://jsfiddle.net/f0x7wg90/
We have a minimum supported version, so yes we need those min versions

[2016-09-07 14:25] KamranAsif commented on #45
This should have been fixed here https://github.com/schrodinger/fixed-data-table-2/pull/28/files
What version of FDT2 are you using?

[2016-09-07 15:34] FredericHeem commented on #45
The last version is being used: `0.7.2`

[2016-09-07 15:36] KamranAsif commented on #45
Can you get this reproducible in a jsfiddle? We need more information on the error

[2016-09-07 15:50] FredericHeem commented on #45
Before spending some time to isolate the issue, the live examples at http://schrodinger.github.io/fixed-data-table-2/example-object-data.html are using the latest version ?

[2016-09-07 19:49] burakcan commented on #45
Can you post full error stack output?

[2016-09-09 10:08] FredericHeem commented on #45
[code]

[2016-09-09 10:19] FredericHeem opened #46 "align right"
Setting align to right on the column only align right the table header, not the cell content

## Your Environment

* Version used: 0.7.2
* Browser Name and version: IE11
* Operating System and version (desktop or mobile): win7
* Link to your project:

[2016-09-09 13:33] KamranAsif commented on #46
Clearly works: https://jsfiddle.net/bz52zLjc/

[2016-09-09 13:33] #46 closed

[2016-09-09 13:35] KamranAsif commented on #45
```    in div (created by InvoiceTable)```
This is caused by your code, not FDT.

[2016-09-09 13:35] #45 closed

[2016-09-13 18:49] dspoonia7 commented on #22
I am also facing scrolling issue in production env. In development environment, It works fine.

I don't think this issue is related to webpack. Because I have faced this issue with browserify also. Then i moved to webpack but the issue remains the same.

In Chrome, Error: `Uncaught TypeError: Illegal invocation`
In firefox, Error: `TypeError: 'requestAnimationFrame' called on an object that does n

[2016-09-14 17:55] wcjordan commented on #22
@dspoonia7 could you put together a plunker/jsfiddle/codepen which reproduces the issue you're seeing?

[2016-09-15 00:22] alecf opened #47 "Provide configurable padding for cells"
Right now FixedDataTableCellDefault provides a hard-coded padding of `8px`. You can workaround this by setting a margin of `-8px` (or some equivalent) but it would be nicer if this were configurable.

## Possible Solution
Probably just pass down via props to `<Cell>` (though I assume this would affect cell height calculation)

## Context
We're trying to provide a very dense table of data and the e

[2016-09-15 00:43] wcjordan commented on #47
That sound reasonable to me.  Any chance you'd like to create a PR?

The class is specified [here](https://github.com/schrodinger/fixed-data-table-2/blob/5e11477172d0c380838be6449741fd178fc43aba/src/FixedDataTableCellDefault.js#L95) as className={cx('public/fixedDataTableCell/cellContent')}.

[2016-09-15 09:43] iamdoron opened #48 "[Question] Best practices for implementing tooltips"
Hi,

I'm trying to use the table with cells that you can hover on them and see tooltips. Because of overflow/z-indexing issues I see my tooltips being clipped, and I see other issues with recycling of cells (for example, using https://github.com/wwayne/react-tooltip with a single `<ReactTooltip />` wouldn't work out of the box).

[2016-09-15 17:32] #44 closed

[2016-09-15 17:34] KamranAsif commented on #47
Padding is only added via the css. You can add
[code]

to your css.
Example: https://jsfiddle.net/f0x7wg90/

[2016-09-15 17:41] KamranAsif commented on #48
We've been struggling with this problem as well.
You don't want rows to overflow on top of one another, which is why rowsContainer has overflow set to hidden.

The solution is to have overflow disabled per cell, set rowsContainer to allow visible, and have classes for cells that have the tooltip.
You also need to bump the z-index of the hovered row

[code]

One glitch we encounter is our tooltip c

[2016-09-15 17:41] KamranAsif commented on #41
Closing this since there is no follow up

[2016-09-15 17:41] #41 closed

[2016-09-15 17:48] alecf commented on #47
I was considering submitting a PR, I just think adding a global CSS rule to your app as a way around this seems.. like the wrong way to handle this.

[2016-09-15 17:51] KamranAsif commented on #47
Yeah its not ideal, but this library absolutely requires the css file also be included.
This is what happens when you don't: https://jsfiddle.net/gpuz7dL8/

[2016-09-15 17:56] KamranAsif commented on #47
Sorry, closed this issue prematurely. If you want to put a PR that allows you to override the padding or the cellContent class, please go for it!

[2016-09-16 15:39] josescasanova commented on #45
hey @FredericHeem were you able to solve this issue? I'm running into the same issue and can't seem to find the root cause.

[2016-09-16 15:57] FredericHeem commented on #45
I'm glad i'm not the only one, this annoying warning is still there but I haven't had the time to delve into it, it's a warning after all

[2016-09-16 19:25] josescasanova commented on #45
@FredericHeem Yep! I removed every instance of `columnKey` in my app and its still happening :(

[2016-09-16 19:39] FredericHeem commented on #45
Columnkey is needed to resize and reorder columns so it's needed in my use case.

[2016-09-16 19:57] KamranAsif commented on #45
If you can create a jsfiddle reproducing this consistently, please feel free to reopen.

[2016-09-16 20:26] wcjordan commented on #45
@FredericHeem I suspect in your InvoiceTable you pass props with the spread operator such as is described [here](https://facebook.github.io/react/docs/transferring-props.html#transferring-with-...-in-jsx).  You'll want to consume the columnKey prop so it is not passed down to the div with other props.

Is that the case?  If not would it be possible to share a bit of the render for InvoiceTable?

@

[2016-09-16 22:53] vinayaknagpal commented on #48
Try using
https://react-bootstrap.github.io/components.html#tooltips
They position tooltips and overlays relative to body, it seems to work well with fixed-data-table

[2016-09-20 14:19] ryanhca opened #51 "Using Aphrodite to accomplish custom styles"
This is less of an issue as it is a pro-tip. I've noticed that you can style elements of the table by adding a className to the ```<Table/>``` component. However this can get clunky when you have to do some finagling to gain specificity precedence on certain elements. What has worked best for me has been to use "Aphrodite" to accomplish the custom styling. I'm more than happy to build out an examp

[2016-09-20 16:05] wcjordan commented on #51
That sounds reasonable to me.  Do you want to submit a sample PR and then a follow up PR to replace the use of [cx](https://github.com/schrodinger/fixed-data-table-2/search?p=1&q=cx&utf8=%E2%9C%93) in the code base?

Also do you know if Aphrodite supports any theme-ing or other CSS configuration tools which might assist with issues like https://github.com/schrodinger/fixed-data-table-2/issues/47

[2016-09-20 17:10] ryanhca commented on #51
I would have to play around with some things to see if it was for sure possible to help out with issue #47 . It'd be really trivial for someone to include an "Aphrodite" stylesheet into their project to tinker with. The deal with Aphrodite is that there isn't support for "Global" styles. You'd need to have a global style sheet (by either using webpack or just simply including it in your index.html

[2016-09-20 20:47] KamranAsif commented on #14
@wcjordan Any idea what happened to this ticket?

[2016-09-20 21:53] wcjordan commented on #14
It's in our current sprint.  I think Felicia is going to use it as a case to get more familiar and help with the repo.  Should be tackled after the column group work is done.

[2016-09-28 10:49] veej opened #53 "OnScrollStart/OnScrollEnd/OnHorizontalScroll not called on scrollLeft prop changes"
## Expected Behavior
When changing `scrollTop` prop, onScrollStart/onScrollEnd functions are called as expected.
The same should happen when passing `scrollLeft` prop.

## Current Behavior
Passing a different `scrollLeft` prop value, `onScroll*` callbacks are not called.

## Steps to Reproduce (for bugs)
- [JSFiddle](https://jsfiddle.net/q3zwssoe/5/)
- In the example above, `scrollTop` value is in

[2016-09-29 14:17] KamranAsif commented on #53
I don't think this is a bug.

onScrollEnd/onScrollStart returns fn(x, y, rowIndex);
Your example is using the Y position instead of the X position.

Here is a working fiddle: https://jsfiddle.net/mn2rvc7c/

[2016-09-29 14:29] veej commented on #53
@KamranAsif, the example I linked is working fine as it shows the desired behavior. The issue is related to the horizontal scrolling. Try to replace `scrollTop` prop with `scrollLeft`, and every `y` in `onScrollEnd` with `x` in your fiddle, and you'll see that with horizontal scrolling, the value will grow endlessly.

Look at this fiddle instead: [](https://jsfiddle.net/543rkdpx/)

[2016-09-29 14:37] KamranAsif commented on #53
@veej Spoke too soon! I misread your bug description sorry.

Put up a PR https://github.com/schrodinger/fixed-data-table-2/pull/54
Fixed fiddle: https://jsfiddle.net/nprp19me/

[2016-09-29 14:45] veej commented on #53
well done!
looks 👍

[2016-09-29 15:24] KamranAsif commented on #53
Published 0.7.4 https://github.com/schrodinger/fixed-data-table-2/releases/tag/v0.7.4

[2016-09-29 15:24] #53 closed

[2016-09-29 15:34] KamranAsif commented on #51
@ryanhca Any updates with that proof of concept? I'm interested to see how this can turn out

[2016-09-29 15:35] KamranAsif commented on #47
@alecf Would you be able to put up that PR?

[2016-09-29 15:35] KamranAsif commented on #48
Closing unless theres any follow up

[2016-09-29 15:35] #48 closed

[2016-09-29 16:55] ryanhca commented on #51
https://github.com/ryanhca/fixed-data-table-aphrodite/blob/master/example.jsx

I just published a small example. I wish I had time to make something more involved. But you'll see how trivial this can be. Just simple add the styles to the table/column/cell that you'd like to be styled. Very simplistic way to get the look you want!

[2016-09-29 17:24] alecf commented on #47
I'll see what I can do.

My inclination is towards inline styles here though - i.e. moving the 8px out of the stylesheet and into `FixedDataTableCellDefault.js` - but that's fairly different than the current styling of the rest of the table. Any recommendations before I dive in? I just want to make sure I take the right approach before I put together a PR. How likely is it that this project will g

[2016-09-30 06:11] wcjordan commented on #51
Thanks Ryan!  This looks like a good way to apply styles as a FDT user and I think we should integrate some examples like this into the repo.

It looks like you didn't need to modify any FDT internals for your example either.  Are there any cases where styling is difficult with how FDT currently exists where we might provide more freedom?

I'm also curious what steps we might want to take to clean

[2016-09-30 06:17] wcjordan commented on #51
wrt making the table responsive, there's a lot of conversation [here](https://github.com/facebook/fixed-data-table/issues/62) requesting something like that.

I think it might be a good idea to add an example with your code for responsiveness or maybe using a HOC like [react-dimensions](https://github.com/digidem/react-dimensions).  That's probably the cleanest way to maintain a separation of conc

[2016-09-30 11:18] iamdoron commented on #48
@KamranAsif  - I tried to use your method but it seemed a little bit too much (there are a lot of edge cases, and it felt too volatile). I decided to look for solutions where the tooltip element lives outside of the table, so you don't have to 'fight' the table via css and don't carry stuff on your back 🐫.

I used https://github.com/wwayne/react-tooltip, and it works pretty well - I had to fix som

[2016-09-30 13:38] KamranAsif commented on #48
Definetly the best approach. Thanks for the reply, I'm sure others will benefit!

[2016-09-30 14:20] ryanhca commented on #51
@wcjordan I haven't found any cases that make gaining the specificity I need a problem atm, if I run into anything I'll post about the issues here. We have modified a few things in the FDT Stylsheet. Aphrodite is good at getting compartmentalized components but it doesn't handle "global" styles well, so leaving that stylesheet in is nice. I'm not sure what suggestions I would have for cleaning up

[2016-09-30 17:11] wcjordan commented on #51
Good to know.  For now I'll work on adding some new examples that demonstrate using FDT with Aphrodite and react-dimensions to the repo.  I'll also see if there are any places where we can trim down or simplify the default styles.  I'll close this issue once that work is done.

I'll also open 2 new issues.  One for discussion separating default styles out into a theme or themes which can be easily

[2016-09-30 17:19] wcjordan commented on #47
It looks like the Aphrodite approach in the cross referenced issue doesn't require any changes to FDT.  Could you try that approach in your application (I intend to create and commit an example of it over the next week)?

If you have any concerns with that approach, please list them in the cross referenced thread.  For now I'm going to close this issue and recommend the Aphrodite approach.

[2016-09-30 17:19] #47 closed

[2016-10-09 20:38] wcjordan opened #60 "Default styling should make custom styling possible / easy"
## Expected Behavior

It should be easy to apply custom styles to the grid.

## Current Behavior

The default styling does too much and is not well organized.  This makes it difficult apply custom styling in many cases.  A few examples are:

Wraps on default cell make styling hard. Can't style the border of FixedDataTableCellDefault
Also when table width > total column width, it's difficult to sty

[2016-10-09 20:41] wcjordan opened #61 "Use open source projects for default styling"
## Expected Behavior

We should use open source projects for default styling.  Potentially looking at CSS in JS approaches.  This will make it easier for folks to jump into the project and help improve the default styling or create default styling themes as suggested in https://github.com/schrodinger/fixed-data-table-2/issues/60

## Current Behavior

We currently use internal Facebook utilities fo

[2016-10-09 20:41] wcjordan commented on #51
PR with examples demonstrating this is up here: https://github.com/schrodinger/fixed-data-table-2/pull/59

I've opened follow up issues here:
https://github.com/schrodinger/fixed-data-table-2/issues/60
https://github.com/schrodinger/fixed-data-table-2/issues/61

[2016-10-09 20:41] #51 closed

[2016-10-10 14:51] donnapep commented on #25
@KamranAsif Any idea when the 0.8 release will be coming out that addresses this issue?

[2016-10-10 14:54] KamranAsif commented on #25
@donnapep No idea. The migration is going to take a while, and we haven't prioritized it at work.

[2016-10-11 17:51] wcjordan commented on #51
Example using Aphrodite is available here: http://schrodinger.github.io/fixed-data-table-2/example-styling.html

If anyone wants to really snazz it up, enhancements are welcome!

[2016-10-11 17:53] wcjordan commented on #48
A tooltip example using react-tooltip is now available here:
http://schrodinger.github.io/fixed-data-table-2/example-tooltip.html

[2016-10-17 09:09] Gothbag opened #65 "Checkbox on top row remains checked no matter what"
## Expected Behavior

I'm rendering a checkbox on each row that is used to mark the elements that have to be removed from the table when clicking a button. When removing the top row I would expect the checkbox on the row below (now the one on top) not to be checked.
## Current Behavior

But as it stands right now, when removing the top row (whose checkbox was checked), the checkbox on the the row

[2016-10-17 13:23] KamranAsif commented on #65
This is similar to https://github.com/schrodinger/fixed-data-table-2/issues/18
Can you try using this solution proposed here to see if your issue goes away? https://github.com/schrodinger/fixed-data-table-2/issues/18#issuecomment-227744217

[2016-10-17 20:21] sheerun opened #66 "Horizontal scrolling doesn't work in Chrome"
1. Go to your [primary example](http://schrodinger.github.io/fixed-data-table-2/example-object-data.html)
2. Scroll with macbook touchpad to the right side of the table
3. Scroll back to the left

## Expected Behavior

Table is scrolling to the left

## Current Behavior

Chrome goes back in history

## Possible Solution

Probably fixed-data-table "unfolds" too slow when scrolling to the left, so c

[2016-10-17 20:50] wcjordan commented on #66
Peculiar, this works pretty smoothly for me on Chrome 54 and El Capitan (10.11.6).  @KamranAsif are you able to reproduce this?

[2016-10-17 21:20] sheerun commented on #66
Spent 15 minutes filing an issue, upgraded chrome from 53 to 54, issue is fixed... oh well

[2016-10-17 21:20] #66 closed

[2016-10-17 21:22] wcjordan commented on #66
Glad you were able to resolve it.  Let us know if you see similar issues in the future. Thanks!

[2016-10-18 21:54] lujinappfolio opened #67 "Limitation of row count due to the max height of any HTML Dom element"
When loading a large number of rows to the fixed-data-table-2 component, rows at the bottom of the table may not be rendered currently. Sometimes it can even crash the browser. This is caused by the height limit of a HTML Dom element in the browser. Different browsers may have different limit. In the implementation of the fixed-data-table-2, it uses a sliding canvas container to expose rows that a

[2016-10-21 09:49] amit1911 opened #69 "Cannot scroll down till the last row with in-built vertical scroller"
## Expected Behavior

If new content is added to the table and I drag the vertical scroller down, then I should be able to view all the content.
## Current Behavior

After new content is added in the table, the scroller appears but when you drag it down, you cannot see some of the new content. Whereas if you scroll inside the table (without dragging the in-built scroller), then you can see all the

[2016-10-24 13:37] KamranAsif commented on #69
This is a known issue, duplicate of https://github.com/schrodinger/fixed-data-table-2/issues/9 and https://github.com/schrodinger/fixed-data-table-2/issues/25

Not sure when we are going to get back to https://github.com/schrodinger/fixed-data-table-2/pull/42 but the targeted fix is 0.8

[2016-10-24 14:03] wcjordan commented on #69
I'm not sure I'd consider it a duplicate since those only affect dynamic row heights, while this one doesn't seem to.  @KamranAsif do you have more detail on what's happening here and why it occurs?

I thought it would be more related to the oversized divs issue (https://github.com/schrodinger/fixed-data-table-2/issues/67), but didn't get a chance to research it.

[2016-10-24 14:04] KamranAsif commented on #69
@wcjordan His example does have dynamic row heights. Check out rowHeightGetter in his ResizeTable calss

[2016-10-25 06:25] AdamPD opened #70 "Can't style vertical lines between column groups"
Currently, we can't find any way to style vertical lines between column groups.  We know that we can do it when you're using fixed column groups, but we simply want a vertical line through the entire table for each column groups (when none are fixed).
## Expected Behavior

We'd like to be able to have a public style where we can add a nice border/vertical line through the edge of each column group

[2016-10-25 06:58] amit1911 commented on #69
@KamranAsif is there any workaround for this till you release 0.8? I really need to fix this issue.

[2016-10-26 01:21] flyingpath opened #71 "version for React 15"
Hello! Is there a version for  react 15.3.2 ?

I used version 0.6.1 fixed-data-table before, but there is a warning about div and columnKey.

I know that fixed-data-table-2 seems solved this question.

After installed the fixed-data-table-2, there is a conflict caused by version.

How do I solve the question?

Thanks very much!!

[2016-10-26 13:13] KamranAsif commented on #71
Hey, were you able to resolve this?

[2016-10-26 14:50] flyingpath commented on #71
Thanks for response!
Ya.. I updated fixed-data-table to 0.6.2 and solved it.
But it still fixed-data-table.
Could fixed-data-table2 support react15.3.2?

[2016-10-26 14:51] KamranAsif commented on #71
Thats strange..I would have expected _us_ to support it. I'm going to reopen this

[2016-10-26 14:58] flyingpath commented on #71
It will install react 0.14.8 when I used npm install.
Or there is a specific version for react 15?

[2016-10-26 16:52] KamranAsif commented on #71
You should specify which version of react you want to use. It probably just insteads 0.14.8 because thats the minimum support version.

[2016-10-26 17:13] flyingpath commented on #71
How to specify it?
there is a warning
"requires a peer of react@>=0.13.0 || ^0.14.0-beta3 but none was installed" ( I install react15.3.2)

Sorry, I am new. Thanks a lot!

[2016-10-26 17:21] KamranAsif commented on #71
Can you try running
'npm install --save react@15.3.2' and then try installing fixed-data-table-2 again?

[2016-10-26 18:04] flyingpath commented on #71
Amazing! It works!!
Thanks a lot!!

Besides, it still failed when installed it by 'jspm install npm:fixed-data-table-2' (will install react0.14.8)
even if I had used 'jspm install npm:react@15.3.2' first.
But in npm, it solved! I could work with npm only.

Thanks!!

[2016-10-26 18:12] #71 closed

[2016-11-01 18:42] smaili opened #75 "Resize not working for responsive table"
I'm trying to have both the ability to have a responsive table (grow/shrink based on parent container), as well as the ability to resize any column within the table.  As of right now they seem to be mutually exclusive, i.e., I can do one or the other but not both.

Code:

[code]

[2016-11-02 04:12] wcjordan commented on #70
Hey Adam, sorry I've left this hanging without responding.  I'm looking into the issue, but our rendering of cell groups doesn't provide a great component for styling.  I'm going to dig in a bit deeper and hopefully can find somewhere to add something.  Once again sorry for the delay.

Also I'm going to link this to https://github.com/schrodinger/fixed-data-table-2/issues/60 to ensure we make this

[2016-11-04 23:03] gforge opened #76 "Add data context example with filtering/sorting/pagination"
I believe that it makes sense to add a `data` context to the Table element. As all data should have the same source it makes sense that all child nodes of the `<Table>` have access to the same data-source. This makes sense as there is a strictly hierarchical nature: table -> column -> cell. One could also store column within context with the same argument. I'm aware of that [context](https://faceb

[2016-11-06 20:59] wcjordan commented on #76
Hey @gforge, use of context within FDT is already supported and we use it heavily at Schrodinger for applying realtime updates to our FDT.  We do it by wrapping our Table in HOC which implements the getChildContext method.  Then in our cell's render methods we can access this.context as expected.

In order to make sure updates to context aren't swallowed, we also have our HOC track a revision valu

[2016-11-06 21:20] wcjordan commented on #65
I'm going to close this since a solution was given and the ticket has been inactive since then

[2016-11-06 21:20] #65 closed

[2016-11-06 21:44] wcjordan commented on #69
Hey @amit1911 I don't think we have a good way to support dynamic rows at this time.  We do have some example PRs where we're trying to cleanup towards a 0.8 release.  Sorry we don't have a better response for you.

[2016-11-06 22:13] wcjordan commented on #75
So when you pass both a width and a flexGrow in, we end up treating the width as a min width.  You may want to add logic so you keep the resize column width separate from the default.  If a column is resized set the column width.

When rendering the columns, if a column width exists, don't pass the flexGrow parameter.  Otherwise pass the default width and the flexGrow parameter.

I'm going to clos

[2016-11-06 22:13] #75 closed

[2016-11-07 02:49] amit1911 commented on #69
@wcjordan thanks anyway. i changed to fixed row height for now. Using ellipsis and tooltip for cases that require extra height.

[2016-11-07 10:39] gforge commented on #76
@wcjordan that sounds great. I've changed the title to indicate that an example(s) that uses context should be added. Since context has a lot of barb-wire around it, I would as a junior JS developer feel comfortable that people with more skills are recommending this particular solution. Also, if it breaks in future versions I will know where to start looking for an updated solution.

The context t

[2016-11-07 16:04] wcjordan commented on #76
Ya, the big issue with context is if context changes it may not cause rerenders in the components which rely on it, which would result in an out of date DOM.  Take for example a case of A which renders B which renders C (A -> B -> C).  If A provides a context which is used by C but not B, an update to the context may be swallowed by B's shouldComponentUpdate method, and not propagate to C.

There'

[2016-11-08 12:14] gforge commented on #76
What do you think of an example to guide us n00bs? I can give it a try if you don't have something that you can share out of the box.

[2016-11-08 15:29] wcjordan commented on #76
I would take the [pagination example|http://schrodinger.github.io/fixed-data-table-2/example-pagination.html] and remove PagedData from the cells and the state and instead provide a method in PaginationExample which looks like:
`
/** @inheritDoc */
  getChildContext() {
    this.pagedData;
  },
`

Removing PagedData from the state should look something like making the constructor look like
`
const

[2016-11-10 22:15] gforge commented on #76
So I did an attempt for a context-based paginator: https://github.com/gforge/fixed-data-table-2/blob/context/examples/PaginationExample.js It seems to do the job. I've changed the code to a more clean ES6-version and I moved the two cells into the example. I'm not a big fan of the cells being located in a separate location, they are rather simple in structure and as a new user it is nice to have a

[2016-11-11 12:01] ophite opened #79 "Do you plan realize grouping like in this example http://adazzle.github.io/react-data-grid/examples.html#/grouping ?"

[2016-11-11 15:50] wcjordan commented on #79
No we don't have any plans for grouping rows based on values.  In the long term we may add support for cells which span multiple columns but we would leave it to outside extensions to use that primitive to build functionality like this.

[2016-11-12 14:24] KamranAsif commented on #79
+1, this can easily be done via react outside of the table. I think as a rule of thumb, we want to avoid adding features that can be done via normal react. This is why the library doesn't support primitive functionality like sorting/filtering. We don't restrict the data format, allowing greater flexibility.

[2016-11-12 14:24] #79 closed

[2016-11-13 18:04] ophite commented on #79
Maybe you can say more about how it could be done with standard react inside your grid system ?

[2016-11-15 10:49] gforge commented on #76
I've further played around with the pagination example and there are a few strange things that I noted in the original code that I've managed to remove while keeping the example working (see my fork example linked above). The changes are thus:

- The components have been converted to functions a'la ES6
- The context is added via a HOC called `DataCtxt`
- The `_updateData` seems inappropriately nam

[2016-11-15 18:59] #67 closed

[2016-11-15 18:59] KamranAsif commented on #67
Resolved with #67

[2016-11-16 16:16] wcjordan commented on #76
Awesome!  Thanks for putting this together!  Here's some feedback on moving this forward:

I think you should open a PR with your changes; that will be a good place for revision discussions since comments can be coupled to the code.

Very excited to have ES6 style functions and functional component where possible.  Bonus points if you can make the other examples consistent.

HOC logic looks good f

[2016-11-16 18:07] KamranAsif commented on #76
Sorry I was absent from this discussion; I was on vacation for last week and a half.

Everything here looks really good so far. I agree we want it as a separate example.
I was also not a _huge_ fan of putting the cells in their own files. I rather copy + paste them and manually update them all instead of forcing people to look them up.

As Chris mentioned, you need to pass the version into the com

[2016-11-16 18:08] KamranAsif commented on #69
Closing this as duplicate

[2016-11-16 18:08] #69 closed

[2016-11-16 18:31] wcjordan commented on #76
Hmm, I'm against copy and pasting the cells since that makes it hard to keep the examples up to date...
I do think that helpers/Cells work could use work to be more approachable.

Maybe we need a simple primer / documentation page on what a Cell should be and then we don't expect a user to infer that from the examples.

[2016-11-17 08:11] gforge commented on #76
Thanks for the feedback. Here's my plan and thoughts:

- **Subfiles**: As I started working on the FitlerExample I decided to move the HOC and context cells into separate files. As a new user I would love to get as much of the example presented at once. My plan is to split into multiple files at the moment and then recombine them once the examples are working. That way I know that the same HOC/cel

[2016-11-17 14:19] wcjordan commented on #76
For understanding PureComponent, I recommend reading [React's optimizing performance post](https://facebook.github.io/react/docs/optimizing-performance.html).  The propagation of renders all the way down to cells is a React principle, where any change to a component rerenders all subcomponents.  The PureComponent and other stuff in optimizing performance describes how to avoid that in cases where

[2016-11-17 14:34] gforge commented on #76
Thanks for the link. Interesting read.

The exporting examples is more of a future vision - I agree that it may be too much at the moment.

Moving everything into a single advanced example file will make it hard to navigate - it would mean that a user has to scroll through a set of examples to get to the one of interest. The code would similarly be rather lengthy and difficult to traverse, or do y

[2016-11-17 14:45] wcjordan commented on #76
Sorry I didn't mean to have all example in one page.  I meant we should aim to have only one context example and have that example show both filtering and paging in a single example.

[2016-11-17 15:43] gforge commented on #76
Ok, I understand. That's where I'm heading with my experimentation.

I re-implemented the PendingCell and did a simple test for the rendering:

[code]

Unfortunately the counter indicated similar activity (as I moved up and down ) regardless of the `PureComponent` - have I missed something in the re-implementation?

[2016-11-17 15:58] wcjordan commented on #76
I can't tell without the full code.  What you'd need is to ensure no props or state are changed on the PureComponent.  If that's the case it should not re-render.

[2016-11-17 21:14] KamranAsif opened #81 "Alternative Name RFC"
FDT2 has grown modestly over the last couple months. I think it's time to rename the repository to differentiate from the original repo.

The driving forces behind this are as follows:
- We want to start introducing breaking changes into the API. We don't want someone migration from FDT to just append '-2' to their package.json and expect full compatibility
- We want to increase community awarenes

[2016-11-17 22:34] gforge commented on #76
Created an advanced example where the Filter + Sort worked nicely together. Adding the Pagination messed things up, as expected. Not sure how I should tackle this. After loading the new data, the sort + filters should be invoked again. I've played around with some solutions that haven't worked:

- I tried adding a _callback to filter/sort that was merged using nested functions (crashed the browser

[2016-11-18 11:58] gforge commented on #76
Managed to solve the issue although I think that sorting a paginated dataset on the client-side is not recommended. I added a note about that in the example.

A few general questions that remain:
- There is now a single advanced example - do we stick to this or do we keep an example of context without the pagination?
- There are now three HOC that are located in `the helpers/HOC.js` - do we want t

[2016-11-18 16:27] wcjordan commented on #76
Nice.  I'll try and look sometime this weekend and get a better idea for cleaning things up.
I agree that including sort + paging is a bad idea.  Why don't we just drop 1 of them from the example?

Since we have independent examples for each without context hopefully a reader can infer mixing things if that situation arises.

[2016-11-19 11:08] gforge commented on #76
I guess we would have to drop sorting since paging is the challenging part. Should we leave the code for those that are interested? I'm thinking of having a HOC.js merging a set of HOCs that are located within a HOC-folder. This folder would also contain the DataListWrapper class. This has though the downside of making the code less browseable...

I'm also considering if it wouldn't be good to hav

[2016-11-19 19:29] wcjordan commented on #76
I think you've done a good job here.  But I think we'll need to scope things to ensure this doesn't become a distraction from project goals.  Could you push the rest of what you have to a branch and I'll make a pass to cut things down make it a more newbie friendly example?

Wrt to style guides, the code is mostly still in the format the original Facebook authors used, and hasn't been cleaned up.

[2016-11-20 14:37] gforge commented on #76
If you create a contexExample-branch I can change the PR to that. I've started to collect all the random stuff into a [fixed-data-table-addons](https://github.com/gforge/fixed-data-table-addons) package. We could reference this for those that want to dive further into the world of random HOCs.

[2016-11-20 15:43] wcjordan commented on #76
I don't think there's a need for a separate branch.  Is everything in the state you want it on gforge:master?

[2016-11-20 19:13] gforge commented on #76
Ok. I cleaned out the other examples and removed the sort.

[2016-11-21 10:28] gforge commented on #76
I'm trying to implement a test-suite for the addons-package. I'm not entirely sure how to best approach testing this rather complex structure and I don't fully grasp the current tests in fdt-2 (I've only found the *ReactTouchHandler-test* which isn't exactly n00b friendly).

I've therefore tried to implement a more plain Chai/Mocha approach. I've figured out the basics but I'm not sure how to chec

[2016-11-21 11:01] mirko77 commented on #81
ReactDataGrid

[2016-11-21 15:57] wcjordan commented on #76
I won't have too much time this week, but will look if possible

[2016-11-21 21:20] wcjordan commented on #70
Hey, I've put a PR for this up at #83.  Could you check that branch out and see if it meets your needs?

[2016-11-24 12:29] gforge commented on #76
No worries, I wrote up [a question](http://stackoverflow.com/questions/40770396/testing-complex-react-components-with-mocha-chai) on StackOverflow. Enzyme seems like a good option.

[2016-11-24 17:33] wcjordan commented on #76
Awesome.  Enzyme is really good.  We use it for testing React components internally at Schrodinger and it's recommended by the React core team, so it's likely a good way to go.

[2016-11-25 13:43] neospyk opened #84 "Column key is regenerated automatically even if key is already defined"
Hello,
Now I am implementing hidden columns using your example. And I've noticed that after removing one column, next columns keys were regenerated.

## Expected Behavior
Column keys should not be regenerated on each render.

## Current Behavior
Column keys are generated on each render.

## Possible Solution
I have tried allowCellsRecycling=true but after removing column keys were regenerated beca

[2016-11-25 13:58] neospyk commented on #84
I have found step to reproduce:
When we have horizontal scroll and column moves outside of the veiw and then comes back becomes recreated with lose his state. Even with prop allowCellsRecycling=true.

[2016-11-25 17:29] wcjordan commented on #84
Hmm this does seem like it could lead to issues.  We could use the columnKey prop as the key instead of a synthetic one, but that might cause other issues if folks aren't assuming columnKey needs to be unique...

Could you create a JsFiddle or Plunker which demonstrates the issue?  Your description isn't explicit, but it seems you may have uncontrolled inputs in your cells.  You should be aware th

[2016-11-26 07:05] neospyk commented on #84
Yes, we use uncontrolled input, and we can't use other in header cell for our goals. But when our input in header cell will our of the view and return we lose our data because filter component recreated.

Yes using columnKey it simply way for both, but cause some problem with uniquie key. But of you could provide new props for example "use columnKeyAsKey=true" and discribe it in documentation user

[2016-11-26 11:05] gforge commented on #81
While I sympathise with the name change I think you may want to wait until the fork has more traction. The reason I found FDT2 was through identifying it as a fork off FDT and it felt safe to bet on something that was originally released by Facebook.

[2016-11-26 13:58] neospyk commented on #84
Unfortunately in JSFiddle I can reproduce issue only with scroll. My filter component not so simple    . There is other problem which absent in my code but i think it is kind of the my problem. If you put something to first input and scroll to the end and return input will empty. With hidding the same behavior with all cell after hidded, each other will recreated. And playing with allowCellsRecycl

[2016-11-26 17:32] neospyk commented on #84
About JSFiddle: to the header I added input field, our to the first input some text, and scroll stable horizontal to the last columnKey, and return, after return to the first column, input will empty. It is expected behavior for current implementation but we can avoid.

And sorry, but what does mean "submit PR"?

[2016-11-26 17:34] gforge commented on #76
Ok, I have a pretty  decent test-suite set-up and [the package](https://github.com/gforge/fixed-data-table-addons#readme) is on NPM (my first npm-package!). I haven't figured out istanbul/coveralls so if you have a hint that would be awesome.

[2016-11-26 18:43] wcjordan commented on #84
Submit a PR means to create a Pull Request on github with the fix.

Here's the behavior I see in the fiddle.  The input isn't lost.  Maybe my screen resolution is too large?
![jsfiddle](https://cloud.githubusercontent.com/assets/1034455/20642492/466de87a-b3de-11e6-97f9-09123cc62c87.gif)

[2016-11-26 19:00] neospyk commented on #84
Ohh. Sorry it was old JSFiddle link. [It's correct JSFiddle](https://jsfiddle.net/jt7b2z1o/). Changed only width. 200 px only for fast reproduce. We have a lot of column with width 130px in full screen table with scroll and have this problem.
Yes, I will create PR at monday or tuesday

[2016-11-27 02:46] wcjordan commented on #84
Cool, the fiddle repros for me now.  Thanks for the help, I look forward to the PR.  Let mw know if you have any questions about the code base.

[2016-11-27 17:31] KamranAsif commented on #84
Joining this discussion late, but you would need allowCellsRecycling to be _false_ in order to preserve the input fields scrolling left and right

FDT doesn't actually render columns; it renders rows and each cell is given a key of cell_${index}.

I think a simple patch would be to change [this line](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTableCellGroup.js#L85
)

[2016-11-27 17:43] wcjordan commented on #84
@KamranAsif do you think there's any need to worry about users using non unique columnKeys?  Or do you think it's safe to just swap to columnKey in a patch version bump?

[2016-11-27 20:42] KamranAsif commented on #84
Hmm columnKey is suppose to be unique according to the API docs. We could add a check to make sure values are unique in DEV mode

[2016-11-27 23:57] wcjordan commented on #76
Awesome, I like the enhancement library!

I've created a PR with some recommended clean ups before we accept this here:
https://github.com/gforge/fixed-data-table-2/pull/1

I also think decorating the React component to do the filtering isn't the best way to do this since the filtering doesn't really need to be tangled with the grid.  I think we may want to decorate the store to accept filters and

[2016-11-28 00:20] wcjordan commented on #84
Nice, then let's forgo the prop and make the change Kam suggests.  If you could try it out and confirm it solves your issue, and if so, submit a PR, we'll merge in the solution.  Thanks!

[2016-11-28 08:28] neospyk commented on #84
Thanks. Yes will check and submit a little bit later.

[2016-11-28 09:49] neospyk commented on #84
This fix work fine for me. I will submit PR

[2016-11-28 11:22] gforge commented on #76
The PR has been merged.

I did a solution with putting the filtering into redux but I had weird refresh issues (ended up with a looping issue) - probably just my JS n00b status. While I understand the concept of data being processed by the reducers, it does decouple the logic. I found that defining filters in the reducers was intuitively less convenient than doing that in the component together wi

[2016-11-28 15:36] wcjordan commented on #76
Word, let's not block this on the filter stuff then.  If this is good to go, I'll merge this in and we can revisit pushing all the filter logic into the store down the road.

[2016-11-28 15:48] wcjordan commented on #76
Merged the PR.  I'll redeploy the docs and close this issue tonight.  Thanks again for the contribution and all the hard work!

[2016-11-28 15:50] wcjordan opened #86 "Pull filtering into data list store for context example"
Spun off from #76 and #80

[2016-11-28 16:09] stulees commented on #25
@KamranAsif Any update on the fix and/or 0.8 release for this issue? If not sure, is there a known workaround worth implementing?

[2016-11-28 17:16] neospyk commented on #84
Hi. As I see fix was merged. Can I hope to receive fix in next minor version(0.7.8 as example) and when? Thanks, after that a will close issue.

[2016-11-29 10:03] gforge commented on #76
Awesome! Thanks again for the patience with all my questions.

[2016-11-29 10:03] #76 closed

[2016-11-29 12:53] AlexandruB opened #87 "The scroll bar disappears and the user can't see all the data from the table."
The scroll bar disappears and the user can't see all the data from the table.

1. Go to [Client-side Filter](http://schrodinger.github.io/fixed-data-table-2/example-filter.html) example.
2. Add a filter text that shows only a couple of items and the vertical scroll bar is not visible.
3. Make the page smaller until the vertical scroll bar appears.
4. Scroll down to see the last row.
5. Make the pa

[2016-11-29 14:43] KamranAsif commented on #87
Thanks for filing this bug! I'll take a look at fixing it in 0.7.x but it'll def be fixed in 0.8.0 when we move to redux

[2016-11-29 15:41] larrydahooster commented on #87
Nice. Thanks for reporting the issue. I was facing the same issue in my project. I have a dashboard where you can resize the dimensions of tiles on it.

Once you resize the table to a height where the scrollbars are no longer required, they simply disappear and with them the ability to scrolling also goes away.

I created two gifs, Example 1 shows scrolling to the bottom of the table and resizing

[2016-11-29 15:47] cajoy opened #88 "Collapse row example missing collapsed rows"
I don't see any rows when click to expand collapsed row. Just height increased.

Can someone provide an example of it?

[2016-11-29 16:15] wcjordan commented on #88
The collapsed rows example isn't meant to have nested rows or other content.  It just demonstrates that a rows behavior can be changed through clicking an icon or otherwise programatically.

For what you're looking for you should consider forking and taking PR #73 or look at issue #79
We don't plan to support this natively in FDT as we are unable to maintain it at this time.

[2016-11-29 16:15] #88 closed

[2016-11-29 16:30] KamranAsif commented on #79
Hey.

Sorry I forgot to reply to this. You can do it similar to how I did this one:
https://jsfiddle.net/pns30rfx/

[2016-11-30 22:33] wcjordan commented on #76
Also when you're ready to share or gain more interest in your add-ons package, send us a PR to mention / link to it from the context example.  I think that would be a nice addition to allow folks to explore further and show off your work.

[2016-12-01 13:48] KamranAsif opened #90 "Create migration docs from fb/FDT"
We currently have [v0.6 API Migratio](http://schrodinger.github.io/fixed-data-table-2/v6-migration.html)n docs which is largely unused. We should instead refactor this to be a migration guide coming from facebooks fixed-data-table v0.6.3.

Currently we don't have any breaking features but we should list new APIs, new features and maybe resolved bugs from the origin repo.

[2016-12-05 09:00] AlexandruB commented on #87
As a side note, this issue is also reproducible in fixed-data-table (facebook).

[2016-12-05 15:14] neospyk opened #92 "Some message when table data is empty"
If table has not any record, show message "No records" in the table body

## Expected Behavior
Message in table when table is empty

## Current Behavior
Showing only header cells

## Possible Solution
Put some span with text to body, something like:
[code]

to file https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.js:

[code]

## Context
It will more usefull when tab

[2016-12-05 15:23] KamranAsif commented on #92
Hmm I think the multi-row feature will make this easy to implement.
Its on the roadmap for v1.0+ http://schrodinger.github.io/fixed-data-table-2/roadmap.html

[2016-12-05 15:24] KamranAsif commented on #87
This will be fixed as part of v0.8

[2016-12-05 16:12] wcjordan commented on #92
I think you could also implement this with a HOC without much difficulty by just wrapping the FDT in a component that renders and additional div below the table if the table is empty.

Rather than support this in FDT, I encourage you to build that HOC.  If you want to create a PR with an example demonstrating how it can be done for future interested parties, we'd appreciate that.

[2016-12-05 22:50] wcjordan commented on #70
I'm going to close this due to inactivity.

[2016-12-05 22:50] #70 closed

[2016-12-07 07:55] vyorkin opened #93 "Fix CI build"
The repo looks broken because of it

[2016-12-07 08:08] vyorkin commented on #93
oh, its actually broken https://travis-ci.org/schrodinger/fixed-data-table-2/jobs/181483901

[2016-12-07 14:18] KamranAsif commented on #93
Thanks for the heads up, I've fixed it. That build is for a beta branch that in a WIP

[2016-12-07 14:18] #93 closed

[2016-12-07 19:12] sontek opened #94 "Make CSS inline instead of global?"
We use cssmodules so we have no global CSS and so we'd like to be able to use fixed-data-table-2 but we have no place to load global CSS.

Could you use CSS modules or inline styles for this component so they are isolated?

[2016-12-07 19:14] sontek commented on #94
I think this might be related to this:

https://github.com/schrodinger/fixed-data-table-2/issues/61

But I guess another reason to do so.  #61 is more of a technical issue where as I need it more for isolation so components I get from `node_modules/` don't affect my application outside of themselves.

[2016-12-07 19:25] KamranAsif commented on #94
This isn't super high on our priority right now (you can checkout our roadmap on the site)

Please feel free to put up a PR for this. If you can do an isolated example we should be able to jump in and migrate the rest of it.

[2016-12-07 19:36] hyalkaf opened #95 "Uncaught (in promise) TypeError: Cannot read property '__TableColumnGroup__' of undefined(…)"
I have been using fixed-data-table successfully but lately after fixing lots of linting errors, I started getting this error: `Uncaught (in promise) TypeError: Cannot read property '__TableColumnGroup__' of undefined`. I'm not sure what is going on as the code in my component seems to be fine. The error is thrown in the library code which makes me think that the error is in my code somewhere else.

[2016-12-07 19:53] KamranAsif commented on #95
Hey,

That error means your not passing in correct children elements under the Table component.
Can you get your code working on jsfiddle? It's a bit hard to debug as its currently written

[2016-12-07 21:09] hyalkaf commented on #95
Thank you. I just rolled back to previous commit when the code was working and worked from there and now it's working. I will post what the error is once I compare the two codes. Thank you.

[2016-12-12 21:33] herman-rogers commented on #22
Ok so I've also got this issue and I can confirm the difference is between production and development environments for webpack building. For production I have removed the 'devtool: "eval"' option and in the dev environment I have it set as default. If I add the eval option to production the build returns fine, if I remove it I get the 'Illegal Invocation' error. Don't really want to have the eval

[2016-12-14 13:08] neospyk commented on #84
Hello guys,
I have to reopen the issue because I closed it accidentally.Could you please create minor release as I need to fix this issue on production.
Thank you

[2016-12-16 14:37] KamranAsif commented on #84
@neospyk Hey, just released 0.7.8 with your change.
Closing this unless theres anything else

[2016-12-16 14:37] #84 closed

[2016-12-19 08:50] neospyk commented on #84
Thanks a lot

[2016-12-19 11:11] vladislavprokopenko opened #96 "Add ref="" to FixedDataTable component for the access to this component from parent"
## Expected Behavior
It would be great to have access from parent component to the child component (FixedDataTable)

## Current Behavior
Now we only can get the access to the TransitionTable component, but no to the FixedDataTable

## Possible Solution
Add ref="" to the FixedDataTable

## Context
For example, we want to watch for state changes of FixedTableData from the parent component (e.g. "sta

[2016-12-19 14:36] KamranAsif commented on #96
You can listen to scrolling state changes via [onScrollStart](http://schrodinger.github.io/fixed-data-table-2/api-table.html#-onscrollstart-) and [onScrollEnd](http://schrodinger.github.io/fixed-data-table-2/api-table.html#-onscrollend-)

With regards to accessing the component via ref, this is possible in FDT2 since we don't have a transition component anymore.

[2016-12-19 19:17] KamranAsif commented on #95
Closing this since there hasn't been any discussion. Feel free to re-open once you've got it reproducible

[2016-12-19 19:17] #95 closed

[2016-12-24 11:06] praveenaj opened #98 "Footer never shown"
`footer` option is completely ignored in both fixed-data-table and fixed-data-table-2.

## Expected Behavior

Show footer row next to last row

## Current Behavior

[code]

`footer` is ignored and never shown.
## Possible Solution

## Steps to Reproduce (for bugs)
[https://jsfiddle.net/ak9fuz96/1/](https://jsfiddle.net/ak9fuz96/1/)

## Context

## Your Environment

* Version used: 0.7.8
* Browser

[2016-12-24 11:12] #98 closed

[2016-12-24 11:13] praveenaj commented on #98
footerHeight was placed incorrectly. closing the issue.

[2016-12-24 11:28] KamranAsif commented on #96
Closing since there doesn't seem be an actual issue here.

[2016-12-24 11:28] #96 closed

[2017-01-03 17:26] jonesm33 opened #100 "Dragging and dropping rows within fixed data table."
Is there a preferred react drag and drop library used to implement drag and drop inside of a fixed data table?

I've been having trouble finding an example of this functionality within any FDT.

[2017-01-08 12:18] Aryk opened #101 "Question: Is scrollToRow supposed to scroll to the bottom?"
I'm not really quite sure if this is a bug. The documentation does not specify if scrollToRow is supposed to scroll the row to the top or just barely show it on the bottom. I'm experiencing the latter.

Is this the expected behavior? Anyway to get it to scroll a row to the top (or middle) of the list?

[2017-01-08 22:52] KamranAsif commented on #101
Hey,

This is something we are inconsistent on. We just scroll enough to have the row be visible.
I'd like to improve on this after the redux migration by allowing you to specific to scroll it to the top or scroll it to the bottom.

Feel free to submit a PR to change the logic to be consistent

[2017-01-09 14:14] Aryk commented on #101
Ok, thanks, I thought I was doing something wrong. Ok, will try to get a PR out.

[2017-01-09 14:32] KamranAsif commented on #100
We've implemented our own solution, but any of them should work. The cell element is very dynamic and works with most everything.

Can you share a fiddle with a WIP so we can help debug it?

[2017-01-09 14:58] jonesm33 commented on #100
Thanks for your answer @KamranAsif !

I've been able to successfully use react-dnd to drag cell elements. I'm looking more for the ability to drag entire rows. That is without having to make each individual cell element it's own drag source.

Since FDT are constructed Table -> Column -> Cell, I haven't been able to work with any row element. Thus, my drag and drop solution feels very ad hoc to me.

[2017-01-09 15:03] sarahstanger opened #102 "Modifying filter after clicking to later results can end up with invalid X/Y numbers"
![image](https://cloud.githubusercontent.com/assets/7503329/21770624/046ba728-d652-11e6-8502-0ab9051d16f4.png)

## Expected Behavior

Modifying the filter should reset the X/Y results numbers

## Current Behavior

Modifying the filter after you have clicked to view a result > 1 can results in an invalid X/Y results number

## Possible Solution

## Steps to Reproduce (for bugs)
1) Using http://schr

[2017-01-09 15:51] KamranAsif commented on #100
Ah I see. We only support dragging cells at the moment.
Can you throw up a quick POC of react-dnd working with a cell so I can have a better understanding of how it works?

[2017-01-09 16:07] KamranAsif commented on #102
Thanks for the detailed report. Threw up a quick PR

[2017-01-09 16:23] jonesm33 commented on #100
Here is a POF of react-dnd working with a cell for the dragging portion. I left out the Target Cell but this should be enough to see the dragging of the cell component.

[code]

[2017-01-09 16:44] KamranAsif commented on #100
You probably need a column that will initiate your row dragging right?  I think you just need to change the preview to be the entire row, which you can get via refs.

If you can throw everything into a JSFiddle I might be able to get it working

[2017-01-09 16:50] jonesm33 commented on #100
Awesome, I appreciate this a lot @KamranAsif !

This would be a huge help!

I actually went down this route using the preview functionality and the custom drag layer to try and get the preview to be the row, but I wasn't able to figure out how to add the refs to the FDT row. My workaround for this was to recreate the entire table (with no headers and only the row information).

I'll get you a work

[2017-01-09 20:36] sisyphean2 opened #104 "Drag Drop columns: Breaks if you drop out of window"
## Expected Behavior
If you drag a column and release the floating column header indicator outside of the browser window, the column should snap back to the initial position. Or do something else sensible.

## Current Behavior
If you drag a column and release the header outside of the browser window, the column does not drop anywhere. The column header continues to be bound to mouse movement. Tryi

[2017-01-09 20:38] KamranAsif commented on #104
Looks like we need to create onColumnReorderCancel :/

[2017-01-10 10:37] KamranAsif commented on #102
Resolved in #103

[2017-01-10 10:37] #102 closed

[2017-01-10 12:15] KamranAsif commented on #92
Closing since there isn't any follow up here.

[2017-01-10 12:15] #92 closed

[2017-01-10 15:55] jonesm33 commented on #100
@KamranAsif Here is a small working jsfiddle.

https://jsfiddle.net/jonesm33/7yudtyt4/1/

[2017-01-12 10:02] phuong3030 opened #106 "Fixed things on versions >= 0.7.4 cause onScroll lagging"
I tried example ReorderColumn.js with version > 0.7.3, but the scroll was lagging.

## Environment

* Version used: > 0.7.3
* Browser Name and version: Chrome 55
* Operating System and version (desktop or mobile): Mac OS 10.11.6

[2017-01-13 11:53] harrybabu commented on #27
@wcjordan @KamranAsif any updates on this regard will be helpful. Thanks in advance :-)

[2017-01-13 14:11] KamranAsif commented on #27
@harrybabu Its on the roadmap for the future http://schrodinger.github.io/fixed-data-table-2/roadmap.html

Unfortunately we are still tied up in this redux migration. Most of it is being blocked on my and I haven't found the time/motivation to continue working on it :/

I'll try and get some done this weekend

[2017-01-14 01:58] wcjordan commented on #27
It's also worth noting that we've had good success with implementing group headers and non grouped headers in our application using 2 grids with their scroll position sync'd.  When we do have time to address column groups in FDT, we may decide to make helpers for making something like that simpler.

[2017-01-17 20:53] #104 closed

[2017-01-18 23:07] geoffreyfloyd commented on #71
The package.json file is still clearly wrong in latest source, and this should be reopened, despite whatever hack gets around it, the peerDependency section should be expanded to include 15 and up, instead of just 13 & 14.

[2017-01-18 23:09] wcjordan commented on #71
Our understanding is 15.x.x is >= 0.13.0 and as such is considered an acceptable peer dependency.  Could you provide instructions to reproduce what you're seeing?

On a side note, we can probably remove support for 0.14.0-beta3 at this time.

[2017-01-19 14:37] yanv1991 opened #111 "Question: rowIndex how can I get it from a column or ColumnGroup"
As the title says, is there a way to get the rowIndex from Column/ColumnGroup and not from the cell attribute ??

Also I wonder if the length of columns can vary inside a column group depending of the row, so i.e. first row has 2 column inside the column group and  the second one could have only one column inside the column group and so on...

[2017-01-19 14:46] KamranAsif commented on #111
I'm not sure I understand your first question. When would you want the rowIndex outside of the cell?

As for the second, we currently don't support this but we plan to add it eventually

[2017-01-19 14:48] yanv1991 commented on #111
yes outside of the cell!!!

[2017-01-19 15:59] wcjordan commented on #111
Hey @yanv1991 could you give a bit more detail; the scenario you're describing isn't clear from the description.

One common way to access the row id outside of an element is to add a data attribute to the DOM in your cell renderer.  This can be useful if you want to interop with jQuery and select the element by row id or extract the row id in a native click handler.

I hopefully this points you i

[2017-01-19 16:18] yanv1991 commented on #111
`<Column
                header={<Cell className="header-table">Transformation</Cell>}
                cell= { ({rowIndex, width, height}) => (
                  <Cell
                    width={width}
                    height={height}
                    className="my-class">
                    <p>.....</p>
                  </Cell>
                ) }
                width={250}

[2017-01-19 16:20] wcjordan commented on #111
Since a ColumnGroup contains all rows, would you want a set of all row indexes in the grid?

[2017-01-19 16:36] yanv1991 commented on #111
Nevermind, the scenario doesn't make sense if my second question couldn't be implemented so far.

[2017-01-19 16:43] #111 closed

[2017-01-19 16:43] wcjordan commented on #111
Ok cool, I'm going to close the issue.  Hopefully we'll have support for cells spanning multiple cols / rows sometime later this year.

[2017-01-25 16:29] KamranAsif commented on #100
Hey,

Looks like react-dnd updated their API a while ago.
What I'm thinking is using rowClassNameGetter to assign a unique id to each row.
Then, when configuring your drag preview, you can use querySelectorAll to get the desired row.

Thoughts?

[2017-01-25 17:49] jonesm33 commented on #100
What I ended up doing was the following:
a) Inside of the DragSourceSpecification beginDrag, I return the row using the data and rowindex props  from the cell
b) Inside of the CustomDragLayer, I now can access this row and create a drag preview that contains a new fixed data table with no headers and one row matching the original row.

[2017-01-26 12:12] rokkarinn opened #114 "Fixed Data Table inside react-simpletabs"
both react-tabs and react-simpletabs use this.props.children and when adding fixed-data-table inside a panel it results in this error:
Warning: Failed prop type: Invalid prop `children` supplied to `Panel`.

Is there a way of getting around this error?

I have react 1.10 and FixedDataTable 0.7.10 and react-simpletabs 0.7.0

[2017-01-26 14:36] KamranAsif commented on #114
Can you provide us a jsfiddle to reproduce this error?

[2017-01-31 15:09] rokkarinn commented on #114
Thank you for the reply.
I figured it out it wasn't a bug in Fixed Data Table it self it was a bug on my end. I forgot to add key to the parent component that had simpletabs and fixed data tables inside them.

Thanks again for great component.

[2017-01-31 15:09] #114 closed

[2017-01-31 15:12] KamranAsif commented on #106
Closing since theres no follow up

[2017-01-31 15:12] #106 closed

[2017-02-03 23:34] weixing2014 commented on #5
@wcjordan Hi, do we have any plan to support touch scrolling natively on touchscreen PCs? It seems for the time being Fixed-data-table-2 can only be scrollable in Chrome on touchscreen PCs. Thanks!

[2017-02-03 23:41] wcjordan commented on #5
I'd be open to PRs but don't want to get to into the thick of figuring out support for browsers which haven't implemented the [Touch Events API](https://developer.mozilla.org/en-US/docs/Web/API/Touch_events).  You're welcome to experiment with the binding [here](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.js#L626).  If you find something that works, feel free t

[2017-02-03 23:44] weixing2014 commented on #5
Thanks, @wcjordan ! This is very helpful.

[2017-02-06 16:21] #87 closed

[2017-02-08 13:37] philipwhiuk opened #118 "Website documentation of function arguments"
## Expected Behaviour
Documentation should provide enough information to use the API

## Current Behaviour

e.g. for onRowClick

## Possible Solution

## Steps to Reproduce (for bugs)

Sample page: http://schrodinger.github.io/fixed-data-table-2/api-table.html

## Context
Makes it harder to use the API - either trial and error or source code analysis is required (which is complex and time consumin

[2017-02-08 16:48] wcjordan commented on #118
That sounds reasonable to me.  I'd also add that argument passed to to onRowClick is the onClick event.
Would you like to submit a PR?  I believe the docs are autogenerated with [react-docgen|https://github.com/reactjs/react-docgen], and for the TableApi you should look at modifying [FixedDataTable.js|https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.js]

[2017-02-08 18:11] philipwhiuk commented on #118
Yeah I'll have a look at doing this :)

[2017-02-20 14:12] lucaas opened #119 "UX for reorderable columns"
In our usage of fixed-data-table-2 we have columns which should be both reorder-able and sortable. This works well from a technical point, but the user experience is far from optimal and confuses the users.

## Expected Behavior

There are a few different issues at play:

1. Using default styling, a small area is a designated "draggable" for column reordering and the rest can be used for e.g. sort

[2017-02-20 14:24] KamranAsif commented on #119
FDT doesn't have any built in sorting functionality, nor do we plan to add any.
I think the issue here is that the column reordering is limited to the drag handle, and that it would be better to instead have a drag handler on the entire column.

Do I understand the issue correctly?

[2017-02-20 14:31] lucaas commented on #119
There is a [example](http://schrodinger.github.io/fixed-data-table-2/example-sort.html) showing sorting in the documentation, which is similar to how we have implemented it (though, in our case the sorting is applied server side).

Yes, that is correct. Preferably the behaviour should be customizable though, so that it doesn't remove the ability to detect clicks on the header cell.

Maybe allowing

[2017-02-20 14:38] KamranAsif commented on #119
Exposing the reorder API seems like a good start. However, the API is written pretty poorly at the moment so it'll be a pain to clean up and make it reusable.

Long term I think we want to head towards composable functions so we don't make assumptions on what our cells look like. Unfortunately thats a long ways away :/

[2017-02-23 10:34] veej opened #120 "scrollToRow broken when fdt height changes"
In my use case I have a responsive fdt that will resize to adapt to its parent.
The component will run with a height of zero, and will compute its new size in `componentDidMount` or at any window resize, storing the new size in its local state.

## Expected Behavior
Passing a `scrollToRow` prop, I expect that row to be visible.

## Current Behavior
The row passed as prop is not visible. FDT seems

[2017-02-23 11:27] lsentkiewicz opened #121 "fixed last column"
[code]

It will be rendered as:
`Col 1 | Col 3 | Col 2`

expected:
`Col 1 | Col 2 | Col 3`

Cols `Col 1` and `Col 3` are fixed.
Is there any way to make the last column as fixed?

[2017-02-23 13:10] lsentkiewicz commented on #121
I was able to fix it in my fork https://github.com/lsentkiewicz/fixed-data-table-2

See demo video http://take.ms/5k4WV
The only issue is that there is no shadow on the right separator.

[2017-02-23 14:18] KamranAsif commented on #121
Very cool. I think we might want to hold off on this until v1.0+. We are in the middle of a redux migration and this would send us back a bit.

[2017-03-06 07:41] cyranosky opened #123 "fixed2 can support drag&drop on column in the future?"
## Expected Behavior
can drag a column including header and body to the after of the another column

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Your Environment
hope support in Chrome

[2017-03-07 14:22] KamranAsif commented on #123
This something we already support
http://schrodinger.github.io/fixed-data-table-2/example-reorder.html

[2017-03-07 14:22] #123 closed

[2017-03-08 14:13] #120 closed

[2017-03-09 02:54] ch-masan commented on #121
Cool, I need this

[2017-03-13 03:00] c0debreaker opened #124 "Warning in console when '100%' width is used on Table"
It works but I'm getting a warning in console. Warning: Failed prop type: Invalid prop "width" of type "string" supplied to "FixedDataTable", expected "number".

[code]

What's the proper way?

[2017-03-13 14:42] KamranAsif commented on #124
@c0debreaker all heights and widths need to be defined in pixels as a number.
Fixed data table isn't responsive by default.

You can follow this example for responsiveness: http://schrodinger.github.io/fixed-data-table-2/example-responsive.html

[2017-03-13 14:42] #124 closed

[2017-03-13 19:07] hechlerp opened #125 "Dynamically resizing rows based on contents"
I was wondering if there's a way to have your row height adjust to fit all of the data in a cell. It seems like it either is determined on initialization (with the rowHeight field on the table) or you would have to manually measure the size of the contents itself. However, I'm sure there's an easier way to allow automatic expansion that I've simply missed. Any help would be greatly appreciated!

[2017-03-15 15:27] KamranAsif commented on #125
Someone was able to get this done in the past using CellMeasurer from react-virtualized
https://github.com/schrodinger/fixed-data-table-2/issues/21

We most likely won't support this, although we would love a PR to add this as a demo

[2017-03-15 15:27] #125 closed

[2017-03-20 11:48] LESARQ opened #126 "Defining cell state outside constructor"
Hey,

I've my implementation of fixed-data-table working with custom cell types, the most used is a simple TextCell.

My text cells may be edited and they contain State which only contains `value` property.
Then I've `onBlur` event that fires after the input loses focus and updates my `data` on the table state.
All this works fine.

## Expected Behavior / Current Behavior
However, when my `data` c

[2017-03-20 14:02] LESARQ commented on #126
Resolved using:

[code]

[2017-03-20 14:02] #126 closed

[2017-03-20 22:28] ana31 opened #128 "If I have inputs in one column, the value from one input will duplicate in input with the rowIndex=rowToShows+actual index"
## Expected Behavior

Only the value for the input in witch I type will change.
## Current Behavior

The value that I am typing , appears in the input where I am typing and in the inputs that are for the rows with the index (m*n+currentIndex), where n is the number of rows that are visible before scroll the content and  0<m<listOfData.length.
<img width="210" alt="screen shot 2017-03-21 at 00 20 1

[2017-03-21 03:07] KamranAsif commented on #128
You need add a key to your input to prevent it from being recycled. This isn't exactly a bug, because we like to reuse elements within a column since usually the diff is small (text changes).

Adding a key will fix this but might cause some perf slowdown, which is why we don't implement this in the lib

[2017-03-21 03:07] #128 closed

[2017-03-23 16:40] dasnixon commented on #22
I'm also having this issue, seems to be on the `p.default(this._didWheel)` under `onWheel`

[code]

[2017-03-23 18:02] jakeseaton opened #129 "Props for location of scrollbar"
## Expected Behavior
I would like to have the scroll bars at the top and left of the table, instead of bottom and right. It would be incredible if I could just pass `horizontalScrollBarPosition={"top"}` or something and it would automatically be positioned there. As is, I'll have to override css to do this.

[2017-03-23 19:31] dasnixon commented on #22
@wcjordan @KamranAsif any thoughts?
<img width="1011" alt="screen shot 2017-03-23 at 12 30 58 pm" src="https://cloud.githubusercontent.com/assets/672057/24266613/a1bed1b6-0fc4-11e7-8505-93bfb41a4553.png">

[2017-03-23 23:31] dasnixon commented on #22
Nevermind, it was my fault, sorry to bug you all. My assets are compiled by Rails/sprockets, I needed to update sprockets and uglifier.

[2017-03-24 08:32] zhaoxq opened #130 "Request API to control scrollbar position"
My problem is:
In the case that there are many columns and horizontal scrollbar shows,  when user clicks on column title of right side column to sort, we programmatically move horizontal scrollbar to the most right via scrollToColumn API(keep column index in state), user manually drag scrollbar to the left, and then after a while, table get refreshed, scrollbar goes to the most right side since it

[2017-03-24 11:12] KamranAsif commented on #22
Glad you were able to get it resolved!

[2017-03-24 11:13] KamranAsif commented on #129
Feel free to make a PR for this, but this isn't something thats super high priority for us.

[2017-03-24 12:08] danielmittelman opened #131 "Scrolling doesn't work after webpack build"
## Expected Behavior
Scrolling of the table should properly work

## Current Behavior
When building the react-bundle with webpack with _devtool: 'eval'_, scrolling works as expected.

When building without this property, scrolling doesn't work at all, and whenever a scroll event occurs, the following error is written to the console:

[code]

(I know the stack isn't informative, but this only happe

[2017-03-24 18:01] wcjordan commented on #131
This looks very similar to the issue dasnixon had here:
https://github.com/schrodinger/fixed-data-table-2/issues/22

He found it to be related to his uglifier so that may be a first place to look.
I'll try compiling our mainline with webpack 1.13 and see if it makes a difference

[2017-03-24 18:27] danielmittelman commented on #131
Yep, updating Uglifier did solve the problem, great catch!

[2017-03-24 18:27] #131 closed

[2017-03-24 18:30] wcjordan commented on #131
Glad it helped!

[2017-03-24 18:44] NathanBWaters opened #132 "Feature Request: Ability to increase overscan / row buffering minimum and maximum"
In my rows I have cells that can extend down about 30 rows.  Of course they disappear if I scroll down about 7 rows.  It would be great if I could specify how many rows should still be rendered that aren't within the boundaries of the table.

## Expected Behavior
It would be great if I could pass as a prop the minimum row buffering as a prop into the fixed-data-table-2 Table component.

## Current

[2017-03-26 22:06] wcjordan commented on #132
I'm open to making this configurable through a prop.  Would you like to submit a PR which fits your use case?

[2017-03-26 22:10] wcjordan commented on #130
There's definitely some inconsistency in props and whether they should only be handled once or whether they should be held whenever they're on.  scrollLeft had this same problem and we solve it by only obeying when we receive a props value which is different than the existing scrollLeft prop value.
That approach has the benefit of not needing to expose a new external API, but leads to some hacky h

[2017-03-27 01:16] zhaoxq commented on #130
Yes, I have this kind of props inconsistency problem in my REACT component development.  At the beginning I develop a component, this component controls some internal state, then there is needs to let parent component to pass in this state, so I add props to this component, props inconsistency comes along.

[2017-03-27 13:48] KamranAsif commented on #132
@NathanBWaters FB changed this internally to their codeset (but didn't upmerge)
Can you rip out the relative piece from this [PR](https://github.com/facebook/fixed-data-table/pull/402/files#diff-910f16a8185c911a9573fe267d0edfb3) and submit it to ours

[2017-03-27 15:22] KamranAsif commented on #130
There are two solutions here. One is a quick fix, where you can use the onHorizontalScroll to reset your state and not pass in the scrollToColumn value.

The other is a fix to the internals of FDT where we check to see if the prop has changed before scrolling. The problem with this solution is when the user _wants_ this to be the state.

[2017-03-27 18:22] NathanBWaters commented on #132
@KamranAsif @wcjordan sweet, not sure when I'll be able to work on this but I'll keep you updated this week on a PR.

[2017-03-28 05:56] zhaoxq commented on #130
Thanks, this resolve my issue.

[2017-03-28 05:56] #130 closed

[2017-03-28 14:39] mirko77 opened #133 "Question about image cell re-renders"
Hi guys, awesome stuff!

One question, though. I implemented FixedDataTable2 with Redux on an application (which is live [here](https://five.epicollect.net/project/bestpint/data))
If you scroll up and down quickly you will notice the images are replaced a bit later due to the lazy loading, but the old image is still there...(cached by the previous render pass)

Any tips on how to avoid it? I had a

[2017-03-28 14:42] wcjordan commented on #133
This generally happens due to row recycling.  The easiest way to fix is to add a key to your img tags so a new one is generated instead of reusing the old one when the row is recycled.

[2017-03-28 14:42] KamranAsif commented on #133
Hey,

Great question, we've seen this issue as well. The main problem is that react won't unset the src while the next image is loading.

Our solution was to add a key to the react image component to force react to throw away the reconciliation.

The downside of this approach is you'll lose some performance. We found marginal gains using a wrapper component that re-uses the image dom element but s

[2017-03-28 14:43] wcjordan commented on #133
Ya, I agree, a wiki or FAQ page would be nice

[2017-03-28 14:59] mirko77 commented on #133
Thanks for the fast response, I will give it try!

[2017-03-28 15:32] theapurvap opened #134 "License Omitted in Minification"
I'm using clean-css to minify all the CSS in my code and css from this package is something that I also want to minify with my CSS. The issue is that the convention for comments that need to be preserved is `/*!` (marking the comment as important) for clean-css. This package's css uses `/**` for its license comments and thus they get omitted from my minified code.

## Expected Behavior
Minifying t

[2017-03-28 15:43] KamranAsif commented on #134
Can you create a PR with this change?

[2017-03-28 22:24] NathanBWaters commented on #132
@KamranAsif @wcjordan working on it today!
Novice question, but is there a better way to test out new changes?

When trying to work on the fork by testing it out inside my current project, I had to do the following to get it to work:

1) Git clone a fork of the project into my project's `node_modules/`
2) Run `npm install` in `node_modules/fixed-data-table-2` (which is my fork)
3) Make modificatio

[2017-03-29 00:26] NathanBWaters commented on #132
@KamranAsif @wcjordan
Feedback on https://github.com/schrodinger/fixed-data-table-2/pull/135?

[2017-03-29 14:19] theapurvap commented on #134
Sorry for a noob question, but which branch?

[2017-03-29 14:27] KamranAsif commented on #132
@NathanBWaters You can run npm run site-dev-server to get the example site running with demos.

[2017-03-29 16:58] NathanBWaters commented on #132
@KamranAsif nice!  I'll play around with that.

[2017-03-30 20:36] moraleslos opened #136 "vertical scroll missing when dynamic data exceeds viewport"
Just switched over to this data table and everything seems to be working.  Only issue I have is that my data table will initially have no data (0 records) and when a user performs a lookup, my app will populate this data table with records.  I can see the records displayed just fine in the data table however there is no vertical scrollbar to "notify" the user there are more records than what is cu

[2017-04-03 13:28] KamranAsif commented on #136
Can you reproduce this in a jsfiddle?

[2017-04-03 18:29] #133 closed

[2017-04-04 17:01] LESARQ commented on #21
@gschwa, are you willing to share some code on how you change the cell's height? Just a simple example.
Thank you.

[2017-04-06 10:38] ditkachuk commented on #21
@LESARQ you can write your own cell measurer with componentDidUpdate and use calc results in Table rowHeightGetter

[2017-04-06 11:37] alinvdumitru opened #138 "Table column reordering slow performance"
**Table Column Reordering Dragging is slow under 15-16 columns.**

## Expected Behavior
Table columns header should be easy to drag around.

## Current Behavior
We experience some slow dragging movement when we have 15-16 columns in view with lot of data. We looked and introduced ```allowCellsRecycling``` which increases performance slightly (because we have columns that are out of the view), but

[2017-04-06 11:37] alinvdumitru opened #139 "Table columns resizing loses state on parent re-render"
##Description
We usually update our table data often and thus re-render the parent component of fixed-data-table. When updating the table the resize bar is lost and user has to try it again. It's almost impossible to resize for real-time data flowing.

## Expected Behavior
Resize blue bar should be kept on updates & resizing data calculated correctly.

## Possible Solution
We always send ```isColu

[2017-04-06 13:56] KamranAsif commented on #139
Can you create a jsfiddle reproducing this issue?

What happens if you just omit isColumnResizing from your props?

[2017-04-06 13:58] KamranAsif commented on #138
Hey,

We very recently introduced a flag called [pureRendering](http://schrodinger.github.io/fixed-data-table-2/api-column.html#-purerendering-). Can you try adding that to your columns to see if it helps?

[2017-04-06 14:05] KamranAsif opened #140 "Proposal: Switch to Semantic Versioning"
We've been adding some new features to FDT2 in releases:
- pureRendering 0.7.14
- rowKeyGetter 0.7.12
- onVerticalScroll 0.7.9

It's not obvious for developers that we have this new feature because we increment patch version instead of minor version.

I propose we switch to v1.0.0 and switch to semantic versioning
- a bug fixes gets a patch verison increase, e.g. v1.0.1
- a new feature gets a mino

[2017-04-06 14:06] KamranAsif commented on #81
I'm going to close this, since I think @gforge  makes a strong argument.

[2017-04-06 14:06] #81 closed

[2017-04-06 14:06] KamranAsif commented on #14
I'm closing this since we can track it in jria

[2017-04-06 14:06] #14 closed

[2017-04-06 14:07] KamranAsif commented on #23
Closing this since theres no actionable follow up

[2017-04-06 14:07] #23 closed

[2017-04-06 14:07] KamranAsif commented on #9
Marking this as a duplicate of https://github.com/schrodinger/fixed-data-table-2/issues/25

[2017-04-06 14:07] #9 closed

[2017-04-06 14:08] KamranAsif commented on #60
@wcjordan Can we close this in favor of #61 ?

[2017-04-06 14:09] KamranAsif commented on #94
Closing this in favor of #61

[2017-04-06 14:09] #94 closed

[2017-04-06 14:10] KamranAsif commented on #101
@Aryk Closing this ticket, but feel free to make a PR

[2017-04-06 14:50] wcjordan commented on #60
I want to keep them both open as they have distinct deliverables and may have separate conversations.  We can mark them both as future enhancements though (post 1.0)

[2017-04-06 15:30] wcjordan commented on #81
:(  One day... one day...

[2017-04-06 15:32] wcjordan commented on #138
Also if you could give us an idea of the changes you made to reproduce this on the examples page, that would be helpful as well.

[2017-04-07 13:17] alinvdumitru commented on #138
Hey @KamranAsif @wcjordan.

Indeed ```pureRendering``` seems what I was looking for. Although after introducing it the performance didn't improve (or at least I didn't notice any difference) even though only the headers were re-rendering now.

The only change I did to reorder example was to add more columns and fit them into view (we usually have 15-16 or even more). After adding ```pureRendering`

[2017-04-07 13:18] #138 closed

[2017-04-07 13:23] KamranAsif commented on #138
Excellent. @alinvdumitru can you follow up if you find any bugs or improvements we can make to pureRendering. It's a new feature that hasn't been fully vetted yet.

[2017-04-07 14:47] nextofsearch opened #141 "Selecting multiple rows by clicking rows"
Hi,

Is there anyway to select rows by clicking rows? I want to make something like the table in the link [here](http://www.ec2instances.info/). If you look at it you can click a row, which will be highlighted then you can compare selected rows by clicking a button labeled 'Compare Selected'

I am new to fixed-data-table-2 so wondering if it provides similar features.

Thanks,

[2017-04-07 14:49] KamranAsif commented on #141
FDT avoids behind a kitchen sink so we don't provide this.
It's very easily to build though. Just add a click handler on your cell, and with that you get the rowIndex.

When rendering, just check if the current rowIndex is part of some selected set, and if so, render it with some class indicating selection

[2017-04-07 14:55] vocu opened #143 "Add option to disable scrolling"
I believe currently there's no way to disable the scrollable state, in which the table just renders independent of a specific height/maxHeight.

[2017-04-07 14:56] KamranAsif commented on #143
http://schrodinger.github.io/fixed-data-table-2/api-table.html#-overflowx-

overflowX={hidden} will hide the scrollbar and disable scrolling.

[2017-04-07 14:56] #143 closed

[2017-04-07 15:25] wcjordan commented on #141
This is a good candidate for a new example if you'd like to play around with it in that environment and submit a PR? :)

[2017-04-07 15:31] nextofsearch opened #144 "Multiple values in a cell and specify which value to use for sorting"
Hi,

If I have a table with multiple values in a cell, can I specify which value (i.e. hidden input) to use for sorting?

[2017-04-07 15:40] wcjordan commented on #144
Hey there, since FDT doesn't encapsulate the data, you have the power to sort it however you like.  However you want to map a row id to a cell renderer's output will work.

If you look at the [SortExample](https://github.com/schrodinger/fixed-data-table-2/blob/master/examples/SortExample.js), you can implement any sort you want simply by changing the behavior of DataListWrapper's getObjectAt metho

[2017-04-07 15:40] #144 closed

[2017-04-07 16:01] vocu commented on #143
@KamranAsif Does height/maxHeight still need to be specified in order for the table to be shown? The table disappears without those attributes it seems. Might there be a way to show all table rows, with no scrollbar, and no specific height?

[2017-04-07 16:26] wcjordan commented on #140
Having discussed offline w/ Kam, I agree with pushing hard for Redux migration and make that v1.0.  The downside is we'll unlikely have a chance to improve our API for a while, but we should be at a better place and have much easier maintainability.

[2017-04-07 16:58] KamranAsif commented on #143
@vocu height is required to render the table. We don't support any sort of fancy flex height

[2017-04-07 17:35] vocu commented on #143
@KamranAsif So theoretically, if I wanted to render the entire table always, I can just set maxHeight to some arbitrarily large number such that the table will always fit its contents?

[2017-04-07 18:09] KamranAsif commented on #143
IIRC maxHeight works such that if content > maxHeight, use maxHeight. If content < maxHeight, use context height as height.

If you use normal height, that'll always be the height. If you have less content than the height, you just see blank space on the bottom

[2017-04-08 01:23] nextofsearch commented on #141
@KamranAsif Thanks for the comment. I will try.
@wcjordan Not sure I can make it but I will share it here if done. ;)

[2017-04-08 01:54] nextofsearch commented on #141
@KamranAsif One more thing, If a table has thousands of rows, would toggling between all rows and selected rows by clicking the button take too much time if we have to re-render it? I would hide/unhide them using jQuery, what's the best way for React?

[2017-04-08 06:22] nextofsearch commented on #144
@wcjordan
Can you please check out [this image](http://i63.tinypic.com/24dpojn.png)? The cell has 2 values: one is an original value and the other is a variation compared to control group. The current implementation is done using jQuery dataTable and I am searching for an alternative since it is not compatible with React. The way I did with dataTables is adding a number using input tag as hidden a

[2017-04-08 18:04] wcjordan commented on #144
Sure this is supported.  One of the fundamental principles of React (and this data table as well) is to split the view rendering and the data processing responsibilities.  As such FDT2 only deals with the view rendering responsibility.

Your task is to provide a mapping from a row index and column key to the content you want displayed in the cell at that position.  You do this by providing a React

[2017-04-10 05:19] vocu commented on #143
@KamranAsif Thanks for your response, I guess the only way to make sure that all rows are shown without a scrollbar being rendered in the table is if maxHeight is set to some arbitrarily large number. Do you know if there's a limit to how high maxHeight can be set?

[2017-04-10 12:38] cfblaeb opened #145 "Support React 15.5"
I'm getting 2 warnings (see below)
The second one seems important.

Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.
Warning: Scrollbar: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in rep

[2017-04-10 16:50] KamranAsif commented on #145
Thanks for bringing this up.
@wcjordan  What's the best way to support this? In 15.5+ we need to require PropType separately.
But we can't do that for libs lower than 15.5...

[2017-04-10 16:51] KamranAsif commented on #141
FDT only renders rows on screen

[2017-04-10 17:13] wcjordan commented on #145
It looks like importing prop type separately should be fine for 0.14+
For createClass I suggest we cleanup / cutover unless it looks like too much work.

React Redux PR for reference: https://github.com/reactjs/react-redux/pull/663/files

[2017-04-10 18:07] KamranAsif commented on #145
Interesting. I guess that means on < 15.5 we just have prop types included twice; one as part of react and once as part of this repo.

I wonder if tree shaking removes prop types in prod mode..

[2017-04-12 10:44] mauvew opened #146 "poor performance for table with 50 columns"
the performance is quite bad with around 50-100 columns, scroll vertically is very janky, anything we can do to improve it?

[2017-04-12 13:10] wcjordan commented on #146
Hey @mauvew, most of the time we see issues like this it's because the individual cells haven't been optimized.  Do your cells include shouldComponentUpdate checks or use React.PureComponent?  If not, you should add that to optimize them.  This [guide](https://facebook.github.io/react/docs/optimizing-performance.html) can be very helpful.

Additionally you may want to play enable the [allowCellsRe

[2017-04-13 11:20] szhuangx opened #148 "Does this version support display 'No Data...' in a whole line?"
In my business model, The data table could be empty in most of time, so, can we support 'No Data found...' in a whole line when my record is empty.

## Possible Solution
If there another way to to change the one cell style to fill out whole line.

## Your Environment
React+webpack+fixed-data-table-2

[2017-04-13 13:41] wcjordan commented on #148
Is the goal to display on line among many which says no data but the cell spans many columns or is it to show a no data message when there are no rows?

If the goal is to show a no data message when no rows, it should be very easy to implement.  You would create a HOC for FDT which renders just FDT if rows exist and if no rows exist you would render FDT (if you want to see the headers) followed by

[2017-04-13 14:42] andrepcg commented on #22
@dasnixon I'm having this exact same issue and I'm using create-react-app to build the final JS file

[2017-04-13 15:03] jphamilton opened #149 "Table with fixed columns, strange scroll behavior"
I have a table with 4 fixed columns. My table is mostly filled with inputs. When I tab between the inputs, only the current row is scrolled. At this point, it is impossible to tell what is going on because the row is not aligned with the column header any longer.

I would expect all the visible rows to scroll and not just the current row. I attempted a workaround using the onFocus event of my inpu

[2017-04-13 15:20] wcjordan commented on #149
Welp that's definitely not good.  Would it be possible for you to put together a JSFiddle which reproduces the issue?  You can use [this as a template](https://jsfiddle.net/gww7j03L/) to get you started.

[2017-04-13 15:22] wcjordan commented on #22
This is similar to #131
You may want to look at updating any uglifier dependencies you have.

[2017-04-14 06:39] szhuangx commented on #148
Thank you, I't a good suggestion.

[2017-04-14 06:39] #148 closed

[2017-04-14 10:38] KamranAsif commented on #146
@mauvew were you able to get your performance concerns fixed? If not, please share a jsfiddle.

[2017-04-14 11:01] mauvew commented on #146
@KamranAsif  sorry for the delay, company blocked jsfiddle so that i cannot have a look in time. what I found is in the fiddle, it works well with allowCellsRecycling marked as true, though it won't change the data in the current viewport when clicking "change data".
[fiddle](https://jsfiddle.net/uq8osbp1/24/)
will have a further look once back to company and comment here. thanks

[2017-04-14 11:06] KamranAsif commented on #146
@mauvew You were incorrectly rendering your cell.
You rendered {this.state.value}, but failed to update state when props changed.

Here is an updated fiddle: https://jsfiddle.net/uq8osbp1/27/
I also included pureRendering={true} that should be a good boost to performance

[2017-04-14 11:17] mauvew commented on #146
thanks for the help

Strangely, as in our application, vertical scroll is a bit janky while horizontal scroll is very smooth. In the fiddle, it is opposite. will have a further investigation next week. When i say scroll, i mean using the mouse to drag scrollbar to scroll

[2017-04-17 14:20] jphamilton commented on #149
[Here ya go](https://jsfiddle.net/y27o89s6/1/)

Just start tabbing and you will see it.

[2017-04-17 15:32] wcjordan commented on #149
Thanks, definitely reproducible.  This is a bit tricky to fix because we're wrestling with the browsers native behavior for tabbing between inputs since we don't use native scrolling.

Here's my suggested fix.  @KamranAsif what are your thoughts? and how much do you think we should build into FDT vs provide an example for?

1. Capture any tab on an input bubbling up to the FDT component and preven

[2017-04-17 15:59] jphamilton commented on #149
I'll try this out, but for some reason (that I cannot reproduce in the JSFiddle), scrollToColumn is not working for me. I've hard-coded a column outside of my initial viewport...and nothing. But I will keep you posted.

[2017-04-18 08:46] mauvew commented on #146
Had a look today, noticed that if adjust the width, height and row height of the table to make it display nicely in a desktop screen. and also extend it to 1500 rows with 100 columns, it become very slow.
Here is the fiddle: [https://jsfiddle.net/uq8osbp1/28/](https://jsfiddle.net/uq8osbp1/28/)

[2017-04-18 17:43] jphamilton commented on #149
[Ok, here is my work around](https://jsfiddle.net/y27o89s6/4/), which I think is fairly simple (although this JSFiddle is quite janky).

Tabbing works. So does tabbing to the next row. Shift+Tab to go backwards seems to work as well.

[2017-04-19 03:28] wcjordan commented on #146
The biggest issue here seems to be the example writing the whole data object into the DOM for each cell.  Removing that by using a spread operator to strip it before writing the cell gave me a huge speed up.
[code]

I was also able to improve things by upgrading to React 15.4.
I've done these changes in this fiddle here:
https://jsfiddle.net/pooh25g7/11/

I still see an issue where when horizontal

[2017-04-20 15:05] #149 closed

[2017-04-20 15:32] jakeseaton opened #151 "Ability to add ClassName to Row Wrapper"
I am trying to use [react-select](https://github.com/JedWatson/react-select) to allow users to edit the content of cells. The select dropdowns get cut off, because the rowWrapper and all of its descendants have overflow: hidden on them.

<img width="297" alt="screen shot 2017-04-20 at 11 17 58 am" src="https://cloud.githubusercontent.com/assets/7296193/25238807/58ec5112-25bc-11e7-8f12-0f08b0e505e9

[2017-04-20 15:40] wcjordan commented on #151
Your best bet may be to follow Kam's advice here #48

We also have open issues #60 and #33 which could benefit from some details on your use case for future library improvements.

[2017-04-20 16:18] KamranAsif commented on #141
Any reason to keep this open?

[2017-04-20 16:19] KamranAsif commented on #139
Closing due to no follow up. If you can post a jsfiddle reproducing this issue, please reopen.

[2017-04-20 16:19] #139 closed

[2017-04-20 16:21] wcjordan commented on #146
Looking into the issue with re-mounting cells, it only happens for a new column when added.  I think things are fast enough without addressing that, especially if using the React production libraries.

Could you check out if applying any of these fixes helps with your case and let us know?

[2017-04-20 21:50] wcjordan commented on #149
Hey @jphamilton did you close this because your issue is resolved?  If so glad to hear, I'll carve out some longer term tickets for trying to provide better library support once I get a chance to sync with @KamranAsif .

I noticed on your fiddle there are still issues with scrollToColumn.  Did you get those worked out for your application?

[2017-04-21 08:22] mauvew commented on #146
thanks for all the help. vertical scroll did improve a lot while, as you mentioned, horizontal scroll is a bit slow. Especially when dragging the scroll bar to scroll.

[2017-04-21 09:01] #146 closed

[2017-04-21 14:40] jphamilton commented on #149
@wcjordan What issues did you see? With Chrome latest the fiddle was working perfectly for me. In my app, not so much (but this is my fault bc my table takes too long to re-render and it interferes with the tabbing). I closed because it seems like this (or something similar) is a viable workaround.

[2017-04-21 15:27] wcjordan commented on #149
I was able to still reproduce the issue, but only when the grid is in a very small window (3 columns fit on screen).  It looks good at larger sizes.  I thought this may have been the scrollToColumn issue you mentioned.

Either way if you feel good about the approach, I'll carve out follow ups for internal support in the future and we can close.  Let me know if you run into any additional problems.

[2017-04-21 15:31] wcjordan opened #152 "Support tabbing through inputs in grid"
## Expected Behavior
Tabbing through inputs scrolls grid

## Current Behavior
Tabbing through input breaks layout because the row scrolls, but not the scroller
See #149 for original filing & existing work around.

## Possible Solution
- Capture any tab on an input bubbling up to the FDT component and prevent default on it.
- Query to get all tab-able inputs in grid (see Know which elements are tab

[2017-04-21 15:33] wcjordan commented on #149
Filed #152 to track this in the future.

[2017-04-27 01:18] kevflynn commented on #145
Any status on this PR?

[2017-04-27 01:44] wcjordan commented on #145
Right now we're working on getting [support for create-react-class](https://github.com/reactjs/react-docgen/pull/179) into react-docgen.  After that, we have a few other things to cleanup & need to verify we're not breaking anything, but it shouldn't be long.

I think we can get a release out with it early next week if nothing goes wrong.

[2017-04-27 03:04] KamranAsif commented on #145
Biggest blocker right now are these amazing jungles and caves in Puerto
Rico. =D
I have a long flight Saturday so expect an update then.

On Apr 26, 2017 9:44 PM, "Chris Jordan" <notifications@github.com> wrote:

Right now we're working on getting support for create-react-class
<https://github.com/reactjs/react-docgen/pull/179> into react-docgen. After
that, we have a few other things to cleanup &

[2017-04-30 14:44] KamranAsif commented on #145
@cfblaeb can you check out the PR and see if you have any issues?

[2017-04-30 14:45] #141 closed

[2017-04-30 14:45] KamranAsif commented on #136
Closing, since theres no follow up

[2017-04-30 14:45] #136 closed

[2017-04-30 14:46] KamranAsif commented on #132
Resolved

[2017-04-30 14:46] #132 closed

[2017-05-04 19:29] cfblaeb commented on #145
Which git command will checkout that PR?

[2017-05-04 20:04] jphamilton commented on #145
It's not going to be as easy as switching to use prop-types and create-react-class. The use context will trigger warnings, too.

[2017-05-09 14:02] josh08h opened #154 "Scrolling horizontally using gestures causes browser to navigate through history instead of scrolling the table."
## Expected Behavior
The table should scroll to the left and right. If scrolling to the left and reach the beginning of the table, then the browser should navigate backwards in history.
If scrolling to the right and reach the end of the columns, the browser should navigate forward in history.
## Current Behavior
The page history navigation seems to take over the scrolling of the table.
## Possible

[2017-05-09 14:10] josh08h commented on #66
I am seeing this behaviour in Chrome 58.0.3029.96 (64-bit) El Capitan 10.11.6)

[2017-05-09 14:40] josh08h commented on #154
So I have narrowed it down - This bug is NOT due to chrome.. it is in fact due to the OS version I am on.

[2017-05-09 21:45] quixotically commented on #154
Hi @josh08h ! It looks like the bug is indeed tied to 10.11.6 OS X El Capitan. Trying on 10.12 Sierra and even 10.11.3 El Capitan did not reproduce the bug.

But, it also seems the bug is only showing up on Chrome - maybe even just Chrome 58 - at least when compared to just Firefox and Chrome 57.

Also, to clarify your repro steps: are you able to scroll to the right, but not left? What I'm seeing

[2017-05-10 04:21] wcjordan commented on #145
We're getting close to pushing this in and haven't seen any warnings related to using context.  I also don't see anything in the blog post here: https://facebook.github.io/react/blog/

Could you elaborate on what context issues you expected?

[2017-05-10 19:10] quixotically commented on #154
Hey @josh08h - it looks like it's OSX and Chrome in general, not just 10.11.6 and Chrome 58. We were just able to reproduce on OSX Sierra 10.12.4, using Chrome 57. I also found a bunch of articles about mac trackpads not working properly with Chrome.

The workarounds are about the same for magic mouse and trackpad. Here they are:

Magic mouse workaround (worked for me):
- Go to System Preferences

[2017-05-11 03:20] jphamilton commented on #145
@wcjordan It was probably me, but I kept getting the warnings about using prop type validation functions...when I wasn't. This was on components that I had written. When I rewrote them to remove context, the warnings went away. If you are not getting them, it's all good I'm sure.

[2017-05-11 03:23] wcjordan commented on #145
Interesting, since FDT doesn't use React context internally, I think we're safe to see what happens, but I'll keep an eye out on our examples which encourage using context.

[2017-05-12 13:26] KamranAsif commented on #145
Resolved in 0.17.6

[2017-05-12 13:26] #145 closed

[2017-05-12 13:29] KamranAsif commented on #140
@wcjordan How do you feel about switching to 1.0 for column-reuse? I'm afraid that we haven't covered all edge cases and we might potentially break some customers.

[2017-05-12 16:23] wcjordan commented on #140
That seems the prudent course to me.  I don't think 8.0 beta is 6 months out though.  I'd like to push it in 1-2 months from now.  Let's offline to discuss timeline & how that affects a 1.0 for column reuse.

[2017-05-14 08:50] maksis opened #155 "Touch scroll unusable in v0.7.16"
## Expected Behavior

The table scrolls smoothly while touching and moving the finger, as with 0.7.15

## Current Behavior

It jumps to a new position only after lifting the finger

## Steps to Reproduce (for bugs)

I can reproduce it with your touch example after building the site with the latest version

## Your Environment

Latest versions of Chrome, Firefox and Edge on Win 10, it's the same al

[2017-05-15 16:13] wcjordan commented on #155
Thanks for filing this.  I can reproduce on our example and will take a look sometime later today.  Hopefully it's a quick fix.  Sorry for the issues.

[2017-05-15 18:54] fabm22 opened #156 "Which approach to simple export of generated HTML/DOM by fixed-data-table-2"
## Expected Behavior

Sorry if misplaced place to ask, but using some given filtered (or not) state state/representation of data displayed in a fixed-data-table-2, what would be the easier way to have the ability to export the produced HTML/DOM representing the visual table into some Excel file ?

I can't find an existing example or path to a solution in issues and on the web.

## Possible Solutio

[2017-05-15 23:36] wcjordan commented on #156
Hey @fabm22, FDT doesn't currently have any functionality to help export to Excel.  At Schrodinger we've implemented a copy to Excel functionality, but rather than doing it through FDT, we've used the source data for the grid, and iterated it generating a CSV of the values we expect the grid to render.

If you need to actually generate an Excel file it's a bit more difficult but something like [js

[2017-05-15 23:36] #156 closed

[2017-05-16 02:27] wcjordan commented on #155
Put a fix up with #157

[2017-05-16 05:34] amit1911 commented on #25
Any update on this? This is really causing problems for me. I might have to change my table library just because of this issue which will be really time consuming as my table is quite complex and requires features like 'column reordering', 'fixed columns', 'variable heights', 'horizontal scrolling', etc. Is there any workaround? If nothing, then I am thinking of trying out react-virtualized as tha

[2017-05-16 15:42] wcjordan commented on #25
The redux migration release (v1.0.0 previously discussed as 0.8) will address this, and it's on the last mile, but probably won't be released for a month or 2.  We need to do many bug fixes & some more testing and deal with a few ugly merges.  But no major work still remaining.

You could try the v0.8.0-beta branch and start filing bugs from it if it's urgent.  We may be a bit slower to fix things

[2017-05-16 21:10] #155 closed

[2017-05-17 04:54] amit1911 commented on #25
But this issue is not yet fixed in v0.8.0-beta as well. How complicated is this issue? Is there anything I can do to fix this issue? I really need a fix for this

[2017-05-17 13:14] wcjordan commented on #25
I think that's somewhat unknown.  State management and caching of row heights is relatively tricky, but should be much easier to follow on the v0.8.0-beta branch.

@KamranAsif may be able to give details on his thoughts on fixing and where to look.

[2017-05-17 14:18] KamranAsif commented on #25
Hmm I'll try and fix the height calculation tonight in 0.8 branch (maybe we should call it redux branch now)

In theory 8.0 _should_ be stable; although it might be _slightly_ slower because we haven't done a performance optimization run on it yet. But at least we can get some testing on it.

[2017-05-17 20:02] jphamilton commented on #151
@jakeseaton Can you elaborate on what you did with jquery? I can't even get my hacks to work, so any insights would be helpful.

[2017-05-17 21:43] maksis commented on #154
It's probably caused by https://developers.google.com/web/updates/2017/01/scrolling-intervention (you should also see a warning in the browser console). Adding the following CSS should fix the issue:

[code]

[2017-05-17 21:51] wcjordan commented on #154
That seems like a reasonable cause.  @josh08h could you test out that change and submit a PR if it solves the issue you're having?

[2017-05-17 22:17] KamranAsif opened #158 "New Redux Strategy"
Our current redux store contains both derived and source data.
This has led to some messy code (see stateHelper files)

I propose a new strategy, thanks to my [evil-diff library](https://github.com/kamranasif/evil-diff).

The redux store contains only source data, acting as the single source of truth. This means it will store the props, and some basic scroll and column logic.

The redux store will

[2017-05-18 00:06] wcjordan commented on #158
Congrats on publishing evil-diff!  Does it make sense to do a v1 which just applies evil-diff at the end of the reducer steps on the state?  That seems easy to put together and would give many of the performance benefits.

Then once we release we can pull state out into models one at a time.  I can probably put together a POC using reselect which would make things nice and clean.

[2017-05-19 01:01] amit1911 commented on #25
Any update on this?

[2017-05-20 15:13] KamranAsif commented on #25
Hey,

I gave this a shot and it's significantly more difficult that I thought. I'm going to do a rewrite; should have something up by Monday

[2017-05-20 15:35] amit1911 commented on #25
Ohh okay. Thanks a lot.

[2017-05-22 06:16] dingchaoyan1983 commented on #121
is this merged?

[2017-05-24 03:15] wcjordan commented on #121
No we still don't support a last fixed column.  For now you could implement this with 2 separate FDT grids with synced row scroll if you wanted to.  If you do, it'd be great if you could submit an example to our docs for it.

[2017-05-24 05:30] amit1911 commented on #25
hey Kamran, were you able to fix this issue? So sorry for continuously bugging you on this.

[2017-05-24 08:49] lsentkiewicz commented on #121
@wcjordan
I tried to combine two tables. There are also other libraries that allow it https://github.com/bvaughn/react-virtualized
But it doesn't work good on mobile.

[2017-05-24 13:24] wcjordan commented on #121
That's too bad.  Our mobile support isn't strongly tested for cases like these.  If you have an idea of what doesn't work well on mobile we might be able to fix that, but don't want to support this outright at this time.

[2017-05-25 14:12] leafoflegend opened #160 "Update Documentation to 0.7"
## Possible Solution
Your releases show that your current version is 0.7.17. The documentation seems out of date. It still lists the 0.5 API, as well as talks about the 0.6 roadmap. It also generally feels like an exact copy of Facebooks documentation, which was done a year and a half ago. So update the documentation to the most recent version of the library.

## Context
You've continued to improv

[2017-05-25 15:05] leafoflegend opened #161 "Better Collapsible Row Example"
## Expected Behavior
Instead of simply having a collapsible row make the height increase, it should show additional content, or ideally, additional rows that are children of the parent row that was just collapsed.

## Current Behavior
Only increases the height of a row when collapsed.

## Steps to Reproduce (for bugs)
http://schrodinger.github.io/fixed-data-table-2/example-collapse-rows.html
Click

[2017-05-25 15:20] wcjordan commented on #160
Thanks.  We've discussed deleting the 0.5 API docs & 0.6 migration doc (I think that's what you mean instead of roadmap).  So this is welcome for anyone who wants to submit a PR.

The roadmap is also out of date with version numbers.  I'll update that when possible.

[2017-05-25 15:22] wcjordan commented on #161
Good idea.  This would be a good case for someone looking to get more involved with the library.

[2017-05-29 08:38] amit-sharon opened #163 "how can i display the range of rows visible in the table"
Hi,

i would like to display the user something like currently viewing 1-25 of 100 and it will update when the user scroll any recommendations?

[2017-05-30 13:47] KamranAsif commented on #163
Please use the discord channel or stackoverflow for non-issue questions.

[2017-05-30 13:47] #163 closed

[2017-06-01 16:16] spinningarrow commented on #161
This is what I'm looking for. How do you envision this would work? By splicing the new rows into the data set in the component state?

[2017-06-01 16:33] wcjordan commented on #161
You could try that.  Another approach would be to expand the row height and then use render a div which is on top of / "escapes the cell" to show what you want.  Kind of like a [portal](https://github.com/tajo/react-portal) or tooltip, but styled to look like it's part of the grid.

[2017-06-01 16:38] spinningarrow commented on #161
I think that would involve a whole lot of styling fixes in order to look smooth. Even vertical align will need changing (currently it's in the middle, but simply changing to `top` won't do the trick because that would make the text move up relative to where it is normally placed)…

Is there a way to conditionally render rows in the table?

[2017-06-01 16:45] wcjordan commented on #161
Ya definitely would take styling work.

Conditionally rendering rows is easy.  I'd take a look at some of the filter examples and look at implementing the opposite.  That's probably the best way to go if you want the sub rows to look similar to the normal rows.

[2017-06-01 21:22] alexandergunnarson opened #164 "Reordering or resizing columns on touch interfaces?"
I'm using an iPad Pro with both the latest Chrome and the latest Safari (I'm aware you don't officially support Safari, but happily, it works!) and while scrolling is a breeze, I don't seem to be able to resize or reorder columns. Will that remain a desktop-only feature? How could I contribute to make it work?

Thanks for your help!

[2017-06-01 21:23] alexandergunnarson opened #165 "Infinite scrolling / lazy loading on touch interfaces?"
Just a quick question: is infinite scrolling / lazy loading supported on touch interfaces (specifically an iPad Pro running the latest Chrome)? I see scrolling is supported — and it's buttery smooth, which is amazing! — but what about infinite/lazy scrolling?

Thanks for your help!

[2017-06-01 21:35] wcjordan commented on #164
Hmm I don't know of any reason it wouldn't work, but assuming the examples for resize and reorder don't work I would look at how the event handlers are implemented.

The reorder event uses [onMouseDown](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTableColumnReorderHandle.js#L80) and I'm not sure if that is triggered on a mobile device.  Same for [column resizing](htt

[2017-06-01 21:37] wcjordan commented on #165
Infinite scrolling should work fine on mobile as should lazy loading.  One important thing to note is FDT doesn't provide lazy loading, but expects you to build that on top of the grid.  See the [Pagination Example](https://github.com/schrodinger/fixed-data-table-2/blob/master/examples/PaginationExample.js) for how this can be implemented.

[2017-06-01 22:01] alexandergunnarson commented on #164
That makes sense. Thanks! I will take a look at the implementation sometime.

[2017-06-01 22:04] alexandergunnarson commented on #164
It may be worth noting that the event for starting the resize (causing the blue line to show) is only sometimes triggered, but it never allows dragging to resize. There is definitely some event handling issue at play here. Trying to reorder columns doesn't seem to generate any UI response at all other than the occasional choppy horizontal scroll (choppy because I assume the touch scroll wasn't imp

[2017-06-01 22:05] alexandergunnarson commented on #165
Sounds good! Thank you!

[2017-06-01 22:05] #165 closed

[2017-06-02 02:42] KamranAsif commented on #164
@alexandergunnarson can you find some examples of how resize and reorder work in other apps/libraries on mobile?

If we get that we can try and implement it in fdt2

[2017-06-02 02:43] KamranAsif commented on #160
I think we can use this for the 1.0 potentially breaking version

[2017-06-02 02:53] KamranAsif opened #166 "V1.0 pagination support"
## Current Behavior
Currently the rowHeightGetter function looks like a bad pattern. There is no way to tell the table that you have a new for a row, and it only currently works because of some other side effects.

## Possible Solution
A cleaner approach is to pass the row heights as an array. However, this has problems when trying to support millions of rows. In addition, we would require a linea

[2017-06-03 03:34] glenne opened #168 "Some basic how-to examples would be helpful"
The README.md for the repo implies that all that is needed is a quick npm install and a simple index.js.  The exmples pages have beautiful examples including a link for the example code.

However, the code in the README.md generates errors.  The nice examples appear to require some extra boilerplate around the example which doesn't appear to be in the repo or explained.

As a new person to node.js

[2017-06-05 05:13] wcjordan commented on #166
This sounds reasonable to me.  Have you done any research into what react-virtualized does to support this?  In particular they have a CellMeasurer which handles the common case of the user not knowing the row height, although I don't think it has the best usability.  We could probably learn a good amount reading some of what has worked for them and what hasn't.

In addition, the suggested algorit

[2017-06-06 15:14] currentoor commented on #48
I've been trying to use react-tooltip with this table and I'm running into some issues. I can get the react-tooltip to work with other basic react components just fine, however it fails with this table for some reason.

In the example,
[code]

Why were the `show`/`hide` methods needed? Also don't they require an argument?
https://github.com/wwayne/react-tooltip/blob/master/src/decorators/staticMet

[2017-06-06 16:21] wcjordan opened #170 "Replace Basic Example with working repo using react-create-app"
To encourage onboarding we should replace the basic example or link from the basic example to a separate github which shows the example working.

## Expected Behavior
Should be easy to get basic example working

## Current Behavior
Basic example is a partial demonstration of how to use FDT2

## Possible Solution
We could use [create-react-app](https://github.com/facebookincubator/create-react-app)

[2017-06-06 16:39] wcjordan commented on #168
Unfortunately, React & modern JS have require a transpilation step to work.  So there's no way to provide an .html + .js example which works out of the box while still encouraging best practices for syntax.

In an ideal world, we could create a new repo which uses [create-react-app](https://github.com/facebookincubator/create-react-app) and some JSX & HTML to put together a minimal example.  I've

[2017-06-06 19:52] currentoor commented on #48
Also it looks like the example is broken. The first 15 rows have tooltips, but rows 16 to 27 do not have tool tips, even though from the code it looks like they are supposed. Could this have something to do with the DOM nodes being recycled.

[2017-06-06 20:10] KamranAsif commented on #48
The example seems to work fine for me. You likely have a bug in your own code.
I suggest going to stackoverflow or ask for help on our [discord channel](https://discordapp.com/invite/bPSWD73)

[2017-06-06 20:32] currentoor commented on #48
@KamranAsif here's a gif of your tooltip example online, not my code. I suppose it could be something specific to my browser, but I doubt it.

![missing-tooltips](https://user-images.githubusercontent.com/2679997/26850376-451a2126-4ad5-11e7-8a6e-cd4a9a5ec1b7.gif)

AFAIK if you just scroll a have a page down the table, they rows no longer have tooltips.

Anyway this issue went away when I called `R

[2017-06-06 20:42] KamranAsif opened #172 "Fix bug in tooltip example"
https://github.com/schrodinger/fixed-data-table-2/issues/48#issuecomment-306598143

[2017-06-06 21:00] wcjordan commented on #168
I've updated the docs to address the easy stuff with #171.  You can see the results here: https://github.com/wcjordan/fixed-data-table-2

Let me know your thoughts.  I'll leave the harder work to be picked up when someone gets to #170

[2017-06-06 21:00] wcjordan commented on #160
Updated the roadmap w/ #171.  I'll delete the old docs on the v0.8 (2.0) branch.

[2017-06-08 04:46] glenne commented on #168
As a new react user I find a recipe works best for me.  After some learnings, I found this sequence of commands created a nice demo page.  Adding the require for the css so it comes from the module install made it show up nicely formatted.

1. npm install -g create-react-app
2. create-react-app my-app
3. cd my-app/
4. yarn add fixed-data-table-2

5. Replace src/index.js with
`import ReactDOM from

[2017-06-08 13:43] genomics-geek opened #173 "Scrolling lags when combining features (Resize, reorder, responsive)"
I was trying to combine a few of the features of fixed-data-table (Reorder, Resize, Responsive) and it seems like the scrolling kind of lags a bit.  It's not a serious issue, everything works as expected, it's just a little annoying and I can't seem to figure out what is causing it. Any help would be appreciated!

## My Environment
* Version used: fixed-data-table-2 0.7.17
* Browser Name and versi

[2017-06-08 13:50] genomics-geek commented on #173
Of course after spending 2 hours on this and posting this issue, I find out it was actually my browser was using way too much memory on a different tab.  It had nothing to do with fixed-data-table-2 itself.  Closing :)

[2017-06-08 13:50] #173 closed

[2017-06-08 14:00] wcjordan commented on #173
Glad you were able to work it out.  If you see any other performance issues please let us know or explore some of our recommended solutions from these threads: #146 & #138

[2017-06-08 14:00] wcjordan commented on #168
Cool, were you able to get that going?  If so and you'd like to create a repo demonstrating the usage, that would be a good step towards #170

[2017-06-08 14:09] genomics-geek commented on #173
@wcjordan thanks.  I will take a look at those threads.  So far very happy with it!

[2017-06-08 16:14] wcjordan commented on #154
Given maksis's feedback.  I'm going to make a few changes to better support this behavior.

On master, don't bind the touch listeners unless touchScrollEnabled is true.
On v1.0+ add the touch-action: none css to our rowsContainer (as suggested above).

I'm also going to subscribe to https://github.com/facebook/react/issues/6436
and when React has first class support for passive events configs, I'l

[2017-06-08 17:47] quixotically commented on #154
sgtm. Can you make sure to test that things work as expected before merging the change @wcjordan ? Thank you @maksis and @wcjordan !

[2017-06-08 18:08] wcjordan commented on #154
Ya I plan to try the touch example out to ensure things work as expected.  And also do my best to ensure I can't reproduce the issue referenced here.  Although I had trouble reproducing and we haven't fixed it yet, so I don't think it will get worse.

Do you have any other suggestions for testing?

[2017-06-08 18:16] quixotically commented on #154
Cool. And ah yeah, reproing this is hard, especially if the issue is still gone after we rebooted your machine.

Sorry, I don't have any other suggestions for testing. So, I think it's fine if you can just make sure there is no obvious break.

[2017-06-11 11:39] barriber opened #174 "Combine ColumnGroup s with regular columns"
Is their way to combine ColumnGroup s with regular columns?

When i'm trying to do so, it removes the ColumnGroup header

_______ _____________ ______________ ___________
|           |                    |______________|                |
|_______|______________|____|____|____|___________|
|_______|____|____|___|____|____|____|____|____|____|
|_______|____|____|___|____|____|____|____|____|____|
|_

[2017-06-11 14:24] KamranAsif commented on #174
This isn't something we current support; but it's on our roadmap to support

[2017-06-12 16:48] josh08h commented on #154
Apologies for the absence recently.

I can confirm
[code]
does not fix the issue for me.

[2017-06-13 06:00] amit1911 commented on #25
@KamranAsif still no update on this?

[2017-06-13 09:35] sckoop opened #175 "Question: Why are the children of a table restricted to be a Column or ColumnGroup?"
Hi everybody,
I'm just wondering why it's necessary that I have to pass a column or column group as a child to the table component? (https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.js#L905)

## Expected Behavior
I can pass my own column(-group) component which decorates the one from fixed-data-table-2.
## Current Behavior
In the current implementation an error is t

[2017-06-13 12:45] KazeSenoue opened #176 "Default CSS doesn't style the table correctly"
I'm trying to implement this component into my project, however the table doesn't get styled correctly, even though the default CSS is getting loaded normally.

## Expected Behavior
Table is styled, looking like the examples.

## Current Behavior
Table is styled, however it doesn't look like the examples, or like a table at all. (See https://streamable.com/3cib5)

## Steps to Reproduce (for bugs)

[2017-06-13 14:28] wcjordan commented on #175
We'd be happy to accept a PR for this.  In our own app we work around it using:
``
  //NOTE Nasty hack to have FDT accept our column as valid
  GridColumn['__TableColumn__'] = true;
[code]

[2017-06-13 14:32] sckoop commented on #175
Hi @wcjordan thanks for the quick response with an quick way to solve the problem. Which solution would be preferred for an PR?

[2017-06-13 14:59] KamranAsif commented on #176
Did you include the default stylesheet dist/fixed-data-table.css?

[2017-06-13 15:00] KamranAsif commented on #175
@sckoop Can you mention what use cases you see for this? That would help us provide a better solution

[2017-06-13 15:16] sckoop commented on #175
The main use case I see is to decorate the Column with an own component. Reasons I can think of are:
- A reduced Api since (could be that some one doesn't need all props provided e. g. We have for the header prop always the same jsx. The only difference is that we have a different text displayed)
- Enrich a column with your own features (e. g. I could add a tooltip functionality that can be provid

[2017-06-13 15:18] KazeSenoue commented on #176
Yes. I tried doing that through `include`, `require`, and even on `webpack.config.json`. None of them worked.

[2017-06-13 15:19] KazeSenoue commented on #176
I forgot to mention that if I import the css like so (`include s from `fixed-data-table-2/dist/fixed-data-table.css`) and set the `className` attribute on the `Table` tag, it does load the style for that class normally.

[2017-06-13 16:29] wcjordan commented on #176
That's bizarre.  Could you demonstrate the issue in a jsFiddle or do you have a public repo which reproduces the issue?  It sounds like it's related to your build system so will be difficult for us to resolve without reproduction.

[2017-06-13 16:34] wcjordan commented on #175
In LiveDesign we just use it to add propTypes.

Do you have any examples of the 2nd case (enrich with own features?).  Since these columns aren't rendered like normal React components I'm not sure how that would work, unless you're just depending on lifecycle methods.

In the short term, it may be best to make the hidden field "__TableColumn__" better documented or switch it to use duck typing on

[2017-06-13 16:35] KazeSenoue commented on #176
I don't think I'm allowed to show much, but I believe if this is an issue with my build process it would be in Webpack's config file, right? Here's what I'm working with: https://gist.github.com/KazeSenoue/e0259c3cb57359fc541a650563c43077

[2017-06-13 16:40] KamranAsif commented on #176
Resolved

[2017-06-13 16:40] #176 closed

[2017-06-13 16:50] sckoop commented on #175
I don't have any examples for the 2nd case. Was just an assumption from my side so I would say that case can be ignored.

Maybe a small example helps for this hidden feature?

[2017-06-13 16:55] KamranAsif commented on #175
@wcjordan We could export TableColumn key and have folks manually include it.
I definitely don't want to remove that check. It's very helpful for new users

[2017-06-13 18:50] wcjordan commented on #175
+1 to not removing the check.  Is there anything more to do to export the key beyond just annotating so it shows in the documentation and creating and example?

[2017-06-14 13:51] KamranAsif commented on #175
I don't think we need an example. Maybe this is a good time to start a wiki?

[2017-06-14 17:01] wcjordan commented on #166
This comment discusses the value of DataObject vs DataVersion approaches to this:
https://github.com/schrodinger/fixed-data-table-2/pull/162#issuecomment-305547043

[2017-06-14 17:01] wcjordan commented on #175
I'm open to it, but don't think I'll have the time to set one up and populate it with content.

[2017-06-15 19:22] leafoflegend commented on #175
@wcjordan Do you have an example file with that hack? Just deleting the check causes some undesirable behavior. Although if I get some time I'd like to look into this.

[2017-06-15 20:15] wcjordan commented on #175
Here's an example which just adds a propType check.  It uses google's closure for inheritance, but I think should be readable.

[code]

[2017-06-15 20:24] wcjordan commented on #154
That's unfortunate.  Would it be possible for you to fork FDT and remove the [touch listeners](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTable.js#L644) to see if that addresses the issue?

[2017-06-16 13:28] leafoflegend commented on #175
Yeah, this doesn't work for my purposes with this library. I'd like to modify the code to support this. I want to be able to perform logic to determine the props of the column before passing it to the table. I think thats a pretty desired behavior of this library in general. Generator functions and massive multi-hundred line files to build tables doesn't seem ideal.

[2017-06-16 14:00] KamranAsif commented on #175
@leafoflegend Feel free to modify the code and submit a PR. We'd love to get something like that working

[2017-06-21 01:25] anandrikka opened #179 "How to show "No Records Found" message ?"
While using filter, if there is no data I would like to show a message. Is there a way to show message ?

[2017-06-21 01:28] wcjordan commented on #179
I'd recommend doing this with a higher order component which renders an additional component if rowsCount === 0.  You can see a similar discussion with #92

I'm going to close for now, but feel free to follow up w/ questions or submit a Pull Request with an example doing this.

[2017-06-21 01:28] #179 closed

[2017-06-22 20:56] jackie-benowitz opened #180 "Resizer knob on every cell in column"
## Expected Behavior
When a column is marked as resizable, it'll be useful to have a knob on every cell in a column to allow for resizing, not just the Header cell.

## Current Behavior
Right now the Resizer Knob only shows up on the Header cell for the column.  If you need to resize a column, you need to find the Header, however this will grow all the cells beneath it and the group header above i

[2017-06-23 06:38] wcjordan commented on #180
Hey @jackie-benowitz, this is an interesting idea.  I think the way we'd prefer to approach it would be to make the resize knob a reusable component which users could easily add to their cells.

Right now the resize component is added as part of FixedDataTableCell [here](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTableCell.js#L238).  To get things off the ground qui

[2017-06-23 12:08] tsnevillecom commented on #21
`findLongestValue(arr) {
    var lgth = 0;
    var longestValue;

    for (var i = 0; i < arr.length; i++) {
      if (arr[i] && arr[i].length > lgth) {
        var lgth = arr[i].length;
        longestValue = arr[i];
      }
    }

    return longestValue;
  }

  getDimensions(txt) {
    this.e = document.createElement("span");
    this.e.style.fontSize = "12px";
    this.e.style.fontFamily = "Si

[2017-06-23 12:16] tsnevillecom opened #182 "How do I use onColumnResizeEndCallback to rerender the table or refresh rowHeightGetter?"
## Expected Behavior
When I resize my column, some of the content wraps and is rendered outside of the cell. I'd really like to be able to rerun rowHeightGetter or something that updates the row heights. I'm stuck trying to figure out how to do this. I do not want to truncate the data.

## Current Behavior
Resizing the column causes text to wrap and overflows the cell boundaries.

[2017-06-23 13:09] #182 closed

[2017-06-23 13:09] tsnevillecom commented on #182
Sorry. It works!

[2017-06-23 13:56] jackie-benowitz commented on #180
Great thanks!  I'm surprised no one has asked for it already!

[2017-06-23 17:09] LESARQ commented on #21
Hey, @tsnevillecom I just ended doing my own table component as simple as I could. Since I don't need table virtualization in my application, It would be an overkill to use this component.

[2017-06-24 21:48] kwent opened #183 "Is there a way to specify a "colspan"-like attribute for rows?"
Duplicating this issue: https://github.com/facebook/fixed-data-table/issues/179 in this fork.

[2017-06-25 18:50] wcjordan commented on #183
There is currently no colspan functionality within a single table, but our application creates column spanned headers using a separate table for the header and synchronizing the scroll X between the tables.

[2017-06-26 07:17] elefantino opened #184 "Tab key moves the cells instead of moving the horizontal scrollbar to the right"
When Tab reaches the last column, all cells in this specific row are shifted to the left instead of moving a horizontal scrollbar. It can reproduced in a table with horizontal scrollbar (when there is a number of columns that does not fit to screen width) and input fields in each cell. If you use TAB key to move from one cell to the next one in a row, the cells will be shifted to the left when TAB

[2017-06-26 14:49] KamranAsif commented on #184
I believe this is the same as #152

[2017-06-26 14:49] #184 closed

[2017-06-26 16:38] wcjordan commented on #184
To follow up, I recommend looking at some of the suggested work around [here](https://github.com/schrodinger/fixed-data-table-2/issues/149#issuecomment-294510131) and the [POC here](https://jsfiddle.net/y27o89s6/4/) (referenced from the issue Kam mentioned).

This is not an easy case for FDT to handle unfortunately.

[2017-06-27 08:49] elefantino commented on #184
@wcjordan Fiddle example from the link above still moves the table cells in IE and Firefox on TAB

[2017-06-27 08:53] elefantino commented on #152
[POC](https://jsfiddle.net/y27o89s6/4/): the bug is still reproducable in IE and Firefox

[2017-06-27 13:55] wcjordan commented on #184
Yes, unfortunately it's not a complete solution, just a proof of concept.  If you do find a way to get it working more robustly, we'd appreciate a pull request to add it to our examples.  But for now it's an ongoing area of research related to issues #149 and #152

[2017-06-28 08:21] Dangoo commented on #174
Hi there!

I am currently working on a pull request for that trying to solve the following issues:
* Topic of this issues: mixed `<Columns>`/`<ColumnGroups>`
* Missing width calculation of nested ColumnGroups

The main issue here is that the `FixedDataTableWidthHelper` tries to differ between cols and groups but than combines them into an array `allColumns` and treats all descendants equally. But

[2017-06-28 14:28] wcjordan commented on #174
Hey @Dangoo thanks for diving into this.  One thing to note, is this logic is moved around a bit in our [beta branch](https://github.com/schrodinger/fixed-data-table-2/tree/v0.8.0-beta).  If you're thinking you'll do this work over the next couple weeks or month, it's probably still work looking at master, but keep that in mind and please upmerge your solution into the beta branch.

On the beta br

[2017-06-28 18:23] Dangoo commented on #174
Hey @wcjordan thanks for the hint!

main focus was on getting the width calculation to work recursively today, flex stuff to come next.
After preparing the size preconditions I'll dive in the renderer, lets see how this is going to work out… 🤠

What is already working is the usage of mixed `Columns` and `<ColumnsGroups>` (regardless of some duplicated headers. 👉🏻   rendering)

![columns01](https:/

[2017-06-30 08:08] Dangoo commented on #174
Possible duplicate with #27

[2017-07-05 07:37] amit1911 opened #188 "How to change column reorder drag value?"
I have column reordering in my table and I noticed that you need to cross the mid-way mark of the destination column to move the column to that location. Is there a way to change this 'mid-way' mark value? Moreover, is there a way to inform the users about the where the columns is going to be dropped?

[2017-07-05 19:52] ardok commented on #25
Any updates on this?

[2017-07-06 10:31] jonashartwig opened #190 "Performance"
Performance with 30 columns is poor. (50 rows)

## Expected Behavior
Hiding a column should have immediate updates without noticeable lags.

## Current Behavior
Removing a column takes 1.5seconds for react to do magic.

Also scrolling is laggy.

My question mostly is if that is expected? It works fine as soon as i go down to less than 10 columns.
## Context
It makes the user experience bad

## You

[2017-07-06 13:13] leafoflegend opened #191 "Testing FDT2"
Looking at the `src` code in this repo, it looks as though this codebase is entirely untested. Am I wrong? I mean, if so, a suggestion is to write tests. But, I am here more to ask a question openly to whoevers out there using this about if you've tested it, and if so what that looks like. I have some amount of testing on my variant, but it seems extremely difficult to replicate the behavior of th

[2017-07-06 16:40] miskreant commented on #188
To my knowledge, we don't currently have an api for these, but in order to change the point at which the columns exchange places, you could make changes to the [calculations here](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTableCell.js#L149-L175).

WRT informing the users where the column is going to be dropped, I think they may be interested in displaying a guide l

[2017-07-06 17:42] miskreant commented on #191
Our tests aren't very extensive at the moment, but you should be able to run them locally via `npm test` and also [view them on Travis](https://travis-ci.org/schrodinger/fixed-data-table-2). We appreciate your suggestions, and have it in our pipeline to improve on and add more tests in the future. We would also be happy to welcome any improvements or new tests. If you would like to contribute, fee

[2017-07-06 21:10] mritterhoff commented on #190
@jonashartwig Do you have `allowCellsRecycling` set to `true` on your Columns? Should help with performance. [Definition](https://github.com/schrodinger/fixed-data-table-2/blob/45275492ca196b46f66baf254f7f2591e6850ae4/src/FixedDataTableColumn.js#L172) and [an example](https://github.com/schrodinger/fixed-data-table-2/blob/b05aa441bf036541c5a1791f54443474e9d3083d/examples/ReorderExample.js#L93).

[2017-07-07 00:27] amit1911 commented on #188
thanks @miskreant. i might have some time to submit a PR for 'informing the users where column is going to be dropped' so @KamranAsif, @wcjordan any ideas on how I should proceed?

[2017-07-07 09:37] jonashartwig commented on #190
I added this to <Column /> it dit not improve the performance. Scrolling and removing columns is still laggy.

[2017-07-07 16:26] wcjordan commented on #190
Hey @jonashartwig, most of the time we hear this it's caused by cells which haven't implemented shouldComponentUpdate.  Could you double check all your cells do that.  The [React optimization guide](https://facebook.github.io/react/docs/optimizing-performance.html) can be very helpful for this.

If that doesn't work there are some more steps you could take detailed in [this comment](https://github

[2017-07-07 16:35] wcjordan commented on #191
@leafoflegend to follow up on @miskreant's response, Facebook didn't open source their tests yet for the repo.  If you want to add your voice to the [issue here](https://github.com/facebook/fixed-data-table/issues/130), it'd be appreciated.

We do have many integration level tests for our usage at Schrodinger on LiveDesign, but they run with Selenium and are full stack rather than unit tests.

For

[2017-07-07 16:39] wcjordan commented on #188
I don't have a great solution in mind, but you could use a onmouseenter event to track what column you're over while dragging and then add some style to the header & cells of that column.

@quixotically do you have any advice here from your experience building out LiveDesign's column functionality?

[2017-07-07 17:02] leafoflegend commented on #191
@wcjordan I ended up getting Jest snapshots to work - a thing to mention on my end is I am definitely abusing the table at this point. Cells filled with interactive components, material-ui, general tomfoolery. The issue I'm having now is listening in to events on the cells themselves. They don't seem to register in any sort of `enzyme` simulate event. But I'm still going at that. Yeah, I've looked

[2017-07-07 17:07] leafoflegend commented on #60
The table I built for work I was able to get Radium to take over instead of the CSS sheet. Helped in numerous ways in easily getting to production. This was our thought exactly, how can we easily modify styles going forward. I can probably get a PR with the basic setup for this over. I haven't noticed any sort of performance loss, but I don't know how hard you guys work the table.

[2017-07-07 18:40] quixotically commented on #188
As far as informing the user where a column will be dropped, I've used the [HTML drag and drop API](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API) to detect when an element is being dragged over, and adding a class to that element if so.

The gotcha is to be careful of how the styling will be if the element is going to be dropped before or after its original position - th

[2017-07-07 20:25] wcjordan commented on #191
Interesting.  It could be because the cells are only used as a template and the actual rendered element is a [cloned element](https://github.com/schrodinger/fixed-data-table-2/blob/master/src/FixedDataTableCell.js#L283).  I don't know the details of the React & Enzyme interactions for that, but it may be a start to your research.

I'm going to close for now as I don't see anything actionable, but

[2017-07-07 20:25] #191 closed

[2017-07-07 20:35] wcjordan commented on #60
Cool, we're definitely looking to explore new ideas here.  If you could create a PR or example of how you used Radium, I think that would be very useful as we plan for future FDT versions.

[2017-07-08 00:45] wcjordan commented on #25
For anyone looking for a work around, you can use the @amit1911's PR branch #185

It comes with a performance hit, but should be a viable work around until we can get a beta out that fixes this.

[2017-07-10 06:14] jonashartwig commented on #190
ok. will do and report back.

[2017-07-10 18:59] wcjordan commented on #25
Does anyone have a good toy reproduction of this issue?  I have a [branch up in PR](https://github.com/schrodinger/fixed-data-table-2/pull/192), which I believe may fix the issue or make it easy to fix.

[2017-07-10 22:02] wcjordan commented on #168
Closed via #171, I'll let #170 cover the half of this around an example repo

[2017-07-10 22:02] #168 closed

[2017-07-11 07:52] jonashartwig commented on #190
So I looked into the issue. I forgot to set pureRendering and allowCellsRecycling. I implemented a proper shouldComponentUpdate on Cell level. This did not improve performance at all. So I investigated further and I found the issue in how I used Immutablejs. I used toJS() function which always creates new properties if the column visibility changed (even for the data). So I created a proper wrappe

[2017-07-11 12:12] wcjordan commented on #190
That's funny, it sounds like immutable JS did the opposite of what it's designed for.  Anyway, it sounds like what you're doing is a bit more complicated than what I've seen before.  Is it possible for you to create a JsFiddle which demonstrates the reproduction?

I don't think adding shouldComponentUpdate to a column will do anything since it's not a rendered component (it's just used as a data o

[2017-07-11 13:11] jonashartwig commented on #190
I will look into your recommendations and come back. Immutable js does however work as expected if you do not transform the immutable objects to plain json objects :)

regards

[2017-07-11 17:22] wcjordan commented on #161
Closing via #186

[2017-07-11 17:22] #161 closed

[2017-07-12 09:12] jonashartwig commented on #190
So I think We can close this issue. We had a production release yesterday and the performance had a major increase compared to the development build. I think according to all the hints I improved it as much as I could. Thanks again!

[2017-07-12 09:12] #190 closed

[2017-07-12 19:47] calebmeyer commented on #121
@KamranAsif how is the redux migration going? Is this something we can expect to pick back up soon?

[2017-07-12 21:41] jspears opened #193 "Column#prop.headerClassName does not seem to work."
## Expected Behavior

Expect a classname to be added to the list of classes, as per documentation.

## Current Behavior

<Column headerClassName='whatever' .../> does not put the whatever class in.

[2017-07-13 13:24] miskreant commented on #193
I do think the docs are a bit confusing here.. But my take on the statement

`'headerClassName' - This can be set directly on the `header` element.`

Is that 'headerClassName' isn't actually a prop, but just a name to provide context, in which case you should do something like:

`
        <Column
          columnKey="firstName"
          header={<Cell className="YOUR-CUSTOM-CLASS">First Name</Cell

[2017-07-14 00:58] wcjordan commented on #121
Not sure Kam's available right now, but given it's dragged on and @lsentkiewicz's work looks reasonable, I think we can accept a PR if you could put one together.

[2017-07-14 14:52] wcjordan commented on #193
Jeremy's read is correct.  I think headerClassName is only mentioned in the v0.5 Column docs and the v0.6 migration docs.  It was removed in v0.6 in favor of just setting it directly on the header element.

Let me know if you see it elsewhere and we can remove.

[2017-07-14 14:52] #193 closed

[2017-07-19 16:54] cephirothdy2j opened #195 "I don't have an issue ..."
I just wanted to say thanks for picking up and maintaining this awesome library since the original authors let it die, and to point out that, because of schrodinger, this project is simultaneously dead and alive.

[2017-07-20 21:48] wcjordan commented on #195
Thanks!  It's always good to get feedback on the work.  And hopefully we won't disappoint with the new functionality and performance improvements we're working to cleanup and merge in for a v1!

![image](https://user-images.githubusercontent.com/1034455/28440227-5317c06a-6d73-11e7-9171-163b6cc2383a.png)

[2017-07-20 21:48] #195 closed

[2017-07-31 14:13] lsentkiewicz opened #196 "row animation (slide up)"
I need to implement slide up animation and I am not sure if this is possible.

Example:
![image](https://user-images.githubusercontent.com/4478684/28781355-0bc17d60-760a-11e7-8561-29e16f19e681.png)

- Select 2nd checkbox
- there is a button that removes the row from the table
- 2nd row is removed, and 3rd+ rows should go up

Currently, all rows have absolute positions. Is there any easy way to do

[2017-07-31 14:51] zweck commented on #152
How likely is https://github.com/schrodinger/fixed-data-table-2/pull/153 a fix for this?

[2017-07-31 14:53] wcjordan commented on #152
I don't think #153 will fix this.  Right now I anticipate it's best to build a one-off solution for your use case and maybe add an example back to the repo, similar to what was done for #149 and the POC linked above.

[2017-07-31 14:56] zweck commented on #152
Ok thanks, we have been using FDT for our project since Dec and have had this issue in our backlog for a while, and it's now time we address it. I essentially have to decide whether to move to a different solution, write a workaround (like your POC, but needs to work with IE) or try to fix the bug (not sure where to start with that one :()

[2017-07-31 15:01] wcjordan commented on #152
The POC and a proper fix aren't too far apart.  The need would be to make your we handle                                                                                                                              some set of possible input types / focusable elements and the right events.  As well as ensuring we have cross browser support.  The possible solution above and notes from #149 and proba

[2017-08-01 21:46] wcjordan commented on #196
Hey there, you can remove the row from the table by updating your source data.  I recommend looking at the [client filter example](http://schrodinger.github.io/fixed-data-table-2/example-filter.html) for inspiration.

I'm less sure about the animation, but I think with some CSS and the right React keys using [rowKeyGetter](http://schrodinger.github.io/fixed-data-table-2/api-table.html), you may be

[2017-08-01 21:46] #196 closed

[2017-08-02 00:30] xhe opened #197 "How can we freeze columns to the right of table?"
I know if we want to freeze columns, we just need to set fixed=true on the column configuration. In most cases, this is pretty good, but we have some requirements to put the fixed columns to the right of the table. This is just in the opposite of current solution, which pushes all the fixed columns to the left side of the table.

Is this doable? If not in product, can anyone tell me where I can ch

[2017-08-02 00:40] wcjordan commented on #197
Duplicates #121 so I'm going to close.  Please continue the conversation there.

[2017-08-02 00:40] #197 closed

[2017-08-02 00:50] xhe commented on #197
Any plan to provide right fixed column solution soon?

On Tue, Aug 1, 2017 at 5:40 PM, Chris Jordan <notifications@github.com>
wrote:

[2017-08-02 00:53] xhe commented on #121
We also have same requirement, can I know when we can have this feature?
Or @lsentkiewicz, can you send me steps on how how to enable right fixed column? In your fork branch, there are too many updates.
Thanks

[2017-08-03 05:00] binarykitchen opened #199 "Don't fire onClick when double clicked but onDoubleClick"
Looks like your latest version does trigger the onClick callback when a row is double clicked which is IMO wrong. Should call only onDoubleClick instead.

[2017-08-03 10:13] wcjordan commented on #199
To my knowledge our onClick & onDoubleClick props are passed directly to the div element, so I recommend trying to reproduce the issue you're seeing outside of FDT and filing against React.

Going to close as I don't plan to break behavior from React

[2017-08-03 10:13] #199 closed

[2017-08-04 19:40] quixotically commented on #199
@binarykitchen A click event will fire no matter what before a double click event. Since both the onClick and onDoubleClick handlers are passed directly to the element as @wcjordan said, I would recommend to either:

1) Make your click handler compatible with your double click event handler
2) Do something like setting a timeout before firing the click handler in case a double click event occurs h

[2017-08-11 17:25] sandys opened #202 "is there a way to edit in place ?"
hi,
Really sorry if this is the wrong place to file this.
I'm looking at this bug https://github.com/facebook/fixed-data-table/issues/249 and i tried to look at the code... but didnt find anything

 Is there any possible way to use an editor with FDT2 ?

[2017-08-11 19:18] wcjordan commented on #202
Ideally a question like this should be asked in [discord](https://discord.gg/bPSWD73) or stackoverflow.

It's possible to edit in place by defining a [cell property](http://schrodinger.github.io/fixed-data-table-2/api-column.html) on a column as a React component which renders an input or other editable DOM component.  That would need to be hooked up to update the store which your rows render from

[2017-08-11 19:18] #202 closed

[2017-08-11 20:13] leafoflegend commented on #161
Sorry, this got lost in a mountain of notifications for me. I looked at the new behavior and would argue this is still not the ideal version of this feature. The additional content this allows is not really a new row per say - just a large div. The version of this I think many developers are looking for is a row with cells. Probably offset by one cell (but entirely up to interpretation and discuss

[2017-08-11 20:21] wcjordan commented on #161
That functionality sounds like the inverse of what the client-side filter example does.  Have you tried that?  And if so could you describe how what you want is different than adding new rows to the table?

[2017-08-11 20:28] leafoflegend commented on #161
I don't really understand how a client side filter has anything to do with what I mentioned. How I mean, is that these new `SubRows` don't have columns, they don't have `SubRowIndex`, etc. One might be able to think of once you collapse a row, you are looking at a nested table (with all the same functionality internally as the parent table). Super ideally, this would be recursive and could go any

[2017-08-11 20:36] wcjordan commented on #161
Do you have a screenshot of what you're thinking?
I'm confused a by "looking for a row with cells" and it's problematic that "new SubRows don't have columns".

If these new rows have the same columns as the grid, I would recommend they just be new rows, maybe with some additional state for formatting the first cell differently.

If these new rows do not have the same columns as the grid, then the

[2017-08-15 20:10] ardok commented on #190
Just wondering, has anyone ever tried rendering with 2 fixed columns, and 52 scrollable columns (in total 54 columns), with 20 rows?

The horizontal scrolling seems to be laggy for me.
I set `allowCellsRecycling` for everything.
I also tried to implement shouldComponentUpdate for each cell, but it's still laggy.

If you're wondering why would I need 52 columns, it's something that has to do with w

[2017-08-15 20:31] ardok commented on #190
Oh @wcjordan nvm then, I checked out that fiddle you have in #146 , and the scrolling there is indeed a bit "laggy".
I just thought that it was only my table, but it looks like it is the expected performance.

What I meant by "laggy" is that (I'm on Mac), if I just scroll with one full motion (and fast), it will not be smooth. It will skip some columns and "jump".

[2017-08-15 20:50] wcjordan commented on #190
I recommend reading the whole thread, particularly be sure you're looking at [this fiddle](https://jsfiddle.net/pooh25g7/11/) from [this comment](https://github.com/schrodinger/fixed-data-table-2/issues/146#issuecomment-295060175).  Other fiddles may have issues.

I believe that one shows immediate renders and is fast.  But not sure if you're looking for something else with smooth.

[2017-08-15 21:04] ardok commented on #190
Attached is a gif.
When the table is scrolling, I just did it with one swing motion, by fully utilizing the momentum scrolling, and you can see how it quite skips some columns instead of smooth scrolling.

BUT if I scroll little by little, slowly, then it's smooth. It's just when I do the "momentum" scrolling, that it's laggy.

I don't know whether it's just my laptop or actually it's different fr

[2017-08-15 21:50] wcjordan commented on #190
interesting.  I'm on my linux machine atm, but I'll check it out on my mac later.

It might be related to #154 as well which is specific to mac track pads and magic mice.

[2017-08-15 22:29] ardok opened #203 "Is there a way to remove the vertical scrollbar space?"
I have made sure that the table has height enough for the entire rows.
`this.props.rowData.length * this.props.rowHeight + this.props.headerHeight + 17`

`17` there is for the horizontal scrollbar space.

## Expected Behavior
When there is no vertical scrolling needed, vertical scrollbar space should disappear?

## Current Behavior
The space for vertical scrollbar is still there even when there is

[2017-08-16 20:44] wcjordan commented on #190
I am able to reproduce the issue from that fiddle on my mac, but not able to reproduce it on this [reorder example](http://schrodinger.github.io/fixed-data-table-2/example-reorder.html).  Can you confirm that's the case for you as well?

I'll look into adding more columns and see if that causes an issue with the example.  If so #153 might fix the issue once it gets in.  If not I'll look at bit mor

[2017-08-16 21:46] ardok commented on #190
I think it's due to the reorder example not having that many columns.
So yes, I don't see the problem on that reorder example.

[2017-08-16 22:07] ardok commented on #190
Something to add, Firefox on Mac has the worst performance for the scrolling for that fiddle: https://jsfiddle.net/pooh25g7/11/

But, not really a problem for me because my users are only using latest Chrome browser.

[2017-08-17 03:14] wcjordan commented on #190
If I add a 50 columns to the reorder example, I'm able to see some slowness in Firefox when running with React's dev library, but not with the production library or in Chrome with either build of React.

My recommendation is to profile what rendering takes place during a horizontal scroll in your app.  If you're seeing any cells or headers being rendered that's a good case to dig in further on.

B

[2017-08-17 12:27] miskreant commented on #203
Thanks for the find @ardok, I've got a fix pending here https://github.com/schrodinger/fixed-data-table-2/pull/204

[2017-08-17 12:50] Kxze opened #205 "Scrolling up and down makes cells render with the wrong values"
## Expected Behavior
Checkboxes are either checked / unchecked according to the logic passed to the `<Cell>` object.

## Current Behavior
When scrolling up and down, the checkboxes get re-rendered (I assume), and sometimes do so with the wrong value on `defaultChecked`.

## Steps to Reproduce (for bugs)
(Can't reproduce on jsfiddle without a big chunk of data)

## Context
I have a relational table

[2017-08-17 13:26] Kxze commented on #205
I edited the code to make a simple `Array#includes` check instead of the more resource-heavy `Array#find` and the bug still occurs. Setting `allowCellsRecycling` to `false` also didn't help.

[2017-08-17 16:03] wcjordan commented on #205
Could you try adding a key onto the cell components which have checkboxes?  Since React recycles components & FDT recycles rows for performance, you can end up with the cell from one row being updated and used as the cell of a new row.  #128 & #18 have similar cases.

I'm going to close this assuming that's the issue, but if it doesn't fix the problem please re-open.

[2017-08-17 16:03] #205 closed

[2017-08-17 18:03] shysteph opened #206 "Page up/down work only when the scrollbar has focus"
I would expect if I clicked on the table and hit page up or page down the table would scroll.  Unfortunately it only seems to work if I carefully get focus on the scrollbar itself.

## Expected Behavior
I hit Page Down and the table scrolls down one page
## Current Behavior
I hit Page Down and nothing happens

## Possible Solution
PR incoming.  Add a _onKeyDown handler to FixedDataTable and call i

[2017-08-17 18:10] #206 closed

[2017-08-17 18:10] shysteph commented on #206
Accidental dupe of PR.

[2017-08-17 21:15] xhe opened #208 "Is there a way to add one cell to take the whole row?"
Hi, I do not know if this is doable, at least, I could not find out solution at all.

In general we have a data grid already, but now, we have requirement to show error message after each row, and this error message needs to take the whole row.

If we are using regular html table, we can use colspan to do that, but is there anyway to do that inside fixed data table also?

Thanks and hope to hear y

[2017-08-18 15:50] wcjordan commented on #208
Take a look at the [Expanded Rows example source](https://github.com/schrodinger/fixed-data-table-2/blob/master/examples/ExpandedExample.js).  We recently added subRowHeight, subRowHeightGetter, & rowExpanded props to allow embedding a component to span the table beneath rows.

I'm going to close as this should address your use case, but feel free to comment if you need more assistance.

[2017-08-18 15:50] #208 closed

[2017-08-18 16:14] xhe commented on #208
Thanks, that sample is good enough already.

On Fri, Aug 18, 2017 at 8:50 AM, Chris Jordan <notifications@github.com>
wrote:

[2017-08-18 16:22] xhe commented on #121
Hello, May I ask when this improvement can be accepted into master branch? we highly expected this fix, but we also need new features in current fixed data table2, so please help to merge this fix into the main release branch. Thanks

[2017-08-18 16:25] xhe commented on #208
Chris and Jeremy,
May I ask if there are any plan to accept this into main branch?

https://github.com/schrodinger/fixed-data-table-2/issues/121

That feature is highly expected and we also need to have the new expanded
row feature.

Thanks

Frank

On Fri, Aug 18, 2017 at 9:14 AM, Frank He <hexufeng@gmail.com> wrote:

[2017-08-18 16:51] wcjordan commented on #121
We would accept a PR for this, but we're unlikely to work on it.

[2017-08-18 16:53] wcjordan commented on #208
Answered there, but for here as well.  We'd accept a PR for it, but unlikely to prioritize working on it.  I've added help wanted and backlog labels to it to help represent this.

[2017-08-18 16:53] xhe commented on #121
any plan in the near future?

On Fri, Aug 18, 2017 at 9:51 AM, Chris Jordan <notifications@github.com>
wrote:

[2017-08-18 16:58] wcjordan commented on #121
Since we're a small open source project we don't normally develop new features ourselves.  We depend on members of the community to contribute back examples and features.

I think @ardok is working on a way to do this without changes to FDT (see #203).  You could reach out there and see if he could contribute an example back to the repo or walk you through a similar approach.

[2017-08-19 12:25] eafshary opened #209 "RTL data-table"
How can I show data-table in rtl layout.
now column show from left to right
how can I change direction of columns and scrollbar?

[2017-08-19 15:45] xhe opened #210 "How to install fixed data table 2 from local, how to generate internal directory?"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

Hello, this question seemed silly, but I can not find out answer for this one.

I want to install fixed data table 2 from local file system, not from internet.

[2017-08-19 17:33] wcjordan commented on #209
I haven't used the table in RTL mode but there is some code which changes things if Locale.isRTL returns true.  You may want to explore playing with that.

https://github.com/schrodinger/fixed-data-table-2/search?utf8=%E2%9C%93&q=rtl&type=

[2017-08-19 17:33] wcjordan commented on #209
If you do find a good way to do it or what the current state of it is, let me know.

[2017-08-19 21:12] #210 closed

[2017-08-19 21:17] xhe opened #211 "how to handle "Failed prop type" error"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

Recently, I updated fixed-data-table 2 from 0.7.6 to 0.8.0, but immediately, I saw this error:

react-with-addons.js:22536 Warning: Failed prop type: Calling P

[2017-08-20 07:20] eafshary commented on #209
I want to change locale to RTL, must be compile your package?

[2017-08-20 11:32] eafshary commented on #209
thanks, now table show from right to left but scrollbar shows on left and not working properly!
can change direction of scrollbar?

[2017-08-20 17:11] wcjordan commented on #209
That's as much as I know here.  You'll likely need to dig into the code to fix up the issues.

[2017-08-20 18:47] wcjordan commented on #211
I'm not able to reproduce this on the examples using 15.3 (although I am w/ 15.2).  Double check you rebuilt and are using 15.3.  If that doesn't help could you include the full stacktrace of the warning?  In particular the offending lines for FDTCellDefault would be nice although looking at that file now it uses prop-types every where.

[2017-08-21 03:55] xhe commented on #211
Thanks Chris,

Although the warning doesn't harm, it is still very annoying. Do you have
any plan to update the code to remove the warning?

This is package.json

"fixed-data-table-2": "^0.8.0",
    "react": "15.3.0",
    "react-addons-test-utils": "15.3.0",
    "react-dom": "15.3.0",

Below is the full warning stacktrace:

react-with-addons.js:22536 Warning: Failed prop type: Calling PropTypes
va